.c-accordion-block{
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 4.545454545%;
}

.c-accordion-block.blue{
  background: #E8F2FF;
}

.c-accordion-block.tan{
  background: #FBF7F2;
}

.c-accordion-block.white{
  background: white;
}


.c-accordion-block h2{
  font-family: Domaine;
  font-size: 45px;
  display: block;
  color: #004088;
  line-height: 56px;
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
}

.c-accordion-block .c-accordion__contents{
  display: block;
  position: relative;
  width: 100%;
  margin-top: 30px;
  background: white;
  padding: 50px;
}

.c-accordion-block .c-accordion__contents b{
  display: block;
  position: relative;
  padding: 10px 0px 0px;
}

.c-accordion__contents-copy:first-of-type{
  border-top: 1px solid #cfcfcf;
}

.c-accordion__contents-copy{
  padding: 20px 0px;
  border-bottom: 1px solid #cfcfcf;
}

.c-accordion__contents-copy:last-of-type{
  margin-bottom: 30px;
}

.c-accordion__heading{
  display: block;
  position: relative;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
}

.c-accordion__heading h3{
  line-height: 32px;
  display: block;
  position: relative;
  width: 100%;
  font-weight: 400;
}

.c-accordion__description{
  display: block;
  position: relative;
  width: 100%;
  opacity: 0;
  height: 0px;

  transition: .2s ease-in-out;
}
.c-accordion__description.is-open{
  opacity: 1;
  height: 100%;
}

.c-accordion__expand{
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.c-accordion__expand svg{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: block;
}


@media screen and (max-width: 768px){

  .c-accordion-block .c-accordion__contents{
    padding: 30px;
  }

  .c-accordion__heading h3{
    padding-right: 30px;
  }

}
