.c-rss-feed{
  padding: 90px 4.545454545%;
}

.c-feature-story + .c-rss-feed{
  padding: 30px 4.545454545% 0px;
}

.c-filterable + .c-rss-feed .c-rss-feed__article-contain{
  margin-top: 0px !important;
}

.c-rss-feed-container{
  display: block;
  position: relative;
  width: 100%;
}

.c-rss-feed h2{
  font-family: Domaine;
  font-size: 48px;
  color: #004088;
  display: inline-block;
  position: relative;
}

.c-rss-feed .button{
  float: right;
  position: relative;
}

.c-rss-feed__article-contain{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 45px 0px 0px;
}

.c-rss-feed .c-rss-feed__article{
  width: calc(100% / 3 - 20px);
  margin-right: 30px;
  border: 1px solid #004088;
  border-bottom: 5px solid #004088;
  border-bottom-left-radius: 5px;
  margin-bottom: 75px;
  border-bottom-right-radius: 5px;
  left: 0px;
  background: white;
  position: relative;
  transition: .2s ease-in-out;
}

.c-rss-feed .c-rss-feed__article:hover{
  background: #E8F2FF;
}



.c-rss-feed .c-rss-feed__article:nth-of-type(3n){
  margin-right: 0px;
}

.c-rss-feed .c-rss-feed__article .c-rss-feed-article-image{
  min-height: 270px;
  height: 17.5vw;
  width: 100%;
  display: block;
  top: -1px;
  position: relative;
}

.c-rss-feed .c-rss-feed__article .c-rss-feed-article-data{
  font-family: Garnett;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  padding: 25px 20px;
  color: #004088;
}

.c-rss-feed .c-rss-feed__article .c-rss-feed-article-data span{
  font-size: 16px;
  font-weight: 600;
  color: #0059F3;
  display: inline-block;
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
}

.c-rss-feed .c-rss-feed__article .c-rss-feed-article-data span svg{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  left: 0px;
  transition: .2s ease-in-out;
}

.c-rss-feed .c-rss-feed__article .c-rss-feed-article-data:hover span svg{
  left: 5px;
}


.c-rss-feed-article-image__date{
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: white;
  display: block;
  padding: 10px 15px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.c-rss-feed-article-image__date span{
 font-size: 14px;
 display: block;
 position: relative;
}

body.article .c-rss-feed{
  padding-top: 45px;
  padding-bottom: 60px;
}

body.article .c-rss-feed-container{
  border-top: 1px solid #eee;
  padding-top: 45px;
}

body.article .c-rss-feed .c-rss-feed__article{
  margin-bottom: 0px;
}


@media screen and (max-width: 900px){

  .c-rss-feed{
    padding: 45px 4.545454545%;
  }

  .c-rss-feed .c-rss-feed__article{
    margin-bottom: 0px;
  }

}


@media screen and (max-width: 800px){

  .c-rss-feed .c-rss-feed__article{
    margin-right: 10px;
    width: calc(100% / 3 - (15px / 2));
  }

  .c-rss-feed .c-rss-feed__article:nth-of-type(3n){
    margin-right: 0px !important;
  }

}


@media screen and (max-width: 768px){

  .c-rss-feed{
    padding: 45px 4.545454545%;
  }

  .c-rss-feed h2{
    display: block;
  }

  .c-rss-feed .button{
    float: none;
    margin-bottom: 15px;
  }

  .c-rss-feed__article-contain{
    display: block;
  }

  .c-rss-feed .c-rss-feed__article{
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  .c-rss-feed .c-rss-feed__article .c-rss-feed-article-image {
    min-height: 325px;
    height: 55vw;
  }

}
