.c-cta-wrapper {
  width: 100%;
  padding: 80px 30px;
}
.c-cta-container {
  @apply max-w-7xl;
  max-width: 80rem;
  margin: auto;
  display: block;
  position: relative;
  text-align: center;
  padding: 60px 0px;
  border-radius: 10px;
  overflow: hidden;
}
.c-cta-text {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  padding: 25px 65px;
  text-transform: uppercase;
  font-family: LibreFranklin;
  font-size: 39px;
  border: 2px solid #FFFFFF;
  background-color: #FFC300;
}


@media screen and (max-width: 768px){

  .c-cta-text{
    padding: 15px 35px;
    font-size: 25px;
  }

  .c-cta-container {
    padding: 30px 0px;
  }

}
