.gsc-control-cse {
  @apply p-0 border-0 bg-transparent font-sans font-light !important;
}

.gsc-control-cse b {
  @apply font-semibold !important;
}

.gsc-control-cse .gsc-table-result {
  @apply flex font-sans !important;
}

.gsc-above-wrapper-area {
  border: 0 !important;
}

.gsc-result-info {
  @apply py-0 text-16 md:text-24 text-blue-gray font-semibold !important;
}

.gs-result .gs-image,
.gs-result .gs-promotion-image {
  @apply block w-24 md:w-40 h-20 md:h-28 max-w-full max-h-full object-cover !important;
  vertical-align: initial !important;
  border: 0 !important;
}

.gs-web-image-box,
.gs-promotion-image-box {
  @apply m-0 pt-1 pr-5 md:pr-10 !important;
  width: auto !important;
}

.gs-webResult:not(.gs-no-results-result):not(.gs-error-result) .gs-snippet {
  @apply text-blue-navy text-16 !important;
}

.gs-fileFormat {
  @apply mb-2 text-14 text-blue-gray font-normal !important;
}

.gs-fileFormatType {
  @apply text-14 text-blue-navy !important;
}

.gsc-webResult.gsc-result,
.gsc-results .gsc-imageResult {
  @apply border-l-0 border-t-0 border-r-0 border-b-2 border-blue-ash py-5 md:py-10 !important;
}

.gsc-url-top {
  @apply mt-1 md:mt-2 text-14 font-normal text-blue-gray tracking-wider !important;
}

.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b {
  @apply text-24 md:text-40 leading-120 text-blue-navy font-display font-semibold tracking-slight !important;
}

.gs-webResult.gs-result a.gs-title:visited {
  @apply text-blue-dark !important;
}

.gs-webResult.gs-result a.gs-title:link,
.gs-imageResult a.gs-title:link,
.gsc-results .gsc-cursor-box .gsc-cursor-page {
  background-image: linear-gradient(180deg, #FFA509 0, #FFA509 100%);
  background-position: left top;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 350ms ease-in-out;

  &:hover {
    background-size: 200% 100%;
    text-decoration: none !important;
  }
}

.gs-webResult div.gs-visibleUrl {
  @apply mb-4 text-blue-gray text-14 uppercase !important;
}

.gsc-results .gsc-cursor-box {
  @apply mx-0 my-6 md:my-10 !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  @apply text-18 text-blue-navy mr-4 !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  @apply underline !important;
}

.gs-spelling a {
  @apply text-blue !important;
}

.gcsc-branding,
.gcsc-find-more-on-google,
.gcsc-find-more-on-google-root,
.gcsc-more-maybe-branding-root {
  @apply hidden !important;
}

.gs-no-results-result .gs-snippet,
.gs-error-result .gs-snippet {
  @apply border-0 bg-transparent text-24 md:text-40 leading-120 text-blue-navy font-display font-semibold tracking-slight !important;
}

.gsc-cursor-container-previous .gsc-cursor-chevron {
  @apply mr-auto ml-0 fill-current !important;
}

.gsc-cursor-container-next .gsc-cursor-chevron {
  @apply mr-0 ml-auto fill-current !important;
}

.gsc-results .gsc-cursor-box {
  @apply border-0 !important;
}

.gsc-results .gsc-cursor {
  @apply font-semibold lg:font-normal text-blue-navy !important;
}
