.c-cta-large{
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 4.545454545%;
}

.c-cta-large__contain{
  display: block;
  position: relative;
  padding: 45px 90px 45px 200px;
  width: 100%;
  border-radius: 5px;
  background: #003f8e; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #003f8e 0%, #002b4d 49%, #003064 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #003f8e 0%,#002b4d 49%,#003064 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #003f8e 0%,#002b4d 49%,#003064 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003f8e', endColorstr='#003064',GradientType=1 );
}

.c-cta-large__contain h2{
  font-family: Domaine;
  position: relative;
  display: block;
  color: white;
  max-width: 680px;
  line-height: 60px;
  font-size: 50px;
}


.c-cta-large__contain h2 ~ span{
  margin-top: 15px;
  display: block;
  position: relative;
  font-size: 20px;
  font-weight: 300;
  color: white;
}

.c-cta-large__contain:before{
  height: 2px;
  background: #FDC126;
  width: 200px;
  left: calc(-4.545454545% - 10px);
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  z-index: 200;
}

.c-cta-large__contain .button{
  position: absolute;
  right: 90px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0px;
}


@media screen and (max-width: 1024px){

  .c-cta-large__contain h2{
    font-size:  36px;
    max-width: 350px;
    line-height: 48px;
  }

}


@media screen and (max-width: 900px){

  .c-cta-large__contain{
    padding: 60px 90px;
    text-align: center;
  }

  .c-cta-large__contain .button{
    position: relative;
  }

  .c-cta-large__contain:before{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 2px;
    height: 75px;
    top:-30px;
  }

  .c-cta-large__contain h2{
    width: 100%;
    text-align: center;
    max-width: 100%;
  }

  .c-cta-large__contain .button{
    text-align: center;
    top: initial;
    transform: none;
    left: initial;
    right: initial;
  }

}
