
.c-cta-group{
  display: block;
  position: relative;
  width: 100%;
  padding: 45px 4.166666667% 60px;
}

.c-cta-group.blue{
  background: #003ab4; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #003ab4 0%, #002c5a 38%, #002c5a 71%, #003ab4 96%, #003182 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #003ab4 0%,#002c5a 38%,#002c5a 71%,#003ab4 96%,#003182 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #003ab4 0%,#002c5a 38%,#002c5a 71%,#003ab4 96%,#003182 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003ab4', endColorstr='#003182',GradientType=1 );
  color: white !important;
}

.c-cta-group__intro-container{
  display: flex;
  position: relative;
  width: 100%;
}


.c-cta-group__intro-body h2{
  font-family: Domaine;
  font-size: 36px;
  color: #004088;
  margin-bottom: 1rem;
}

.blue .c-cta-group__intro-body h2{
  color: white;
}

.c-cta-group__intro-body h3{
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #0059F3;
  position: relative;
  display: block;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.c-cta-group__intro-body p{
  color: #363030;
}

.c-cta-group__intro-ebody{
    width: 100%;
    padding-right: 60px;
}

.c-cta-group__intro-quicklinks{
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  margin: 1.75rem 0px 0px;
}

.c-cta-group__intro-quicklinks a{
  width: calc(50% - 30px);
  font-size: 22px;
  color: #004088;
  margin-bottom: 1rem;
  border-bottom: 2px solid #D0C9C0;
  padding-bottom: 15px;
  position: relative;
}

.c-cta-group.blue .c-cta-group__intro-quicklinks a{
  border-bottom: 2px solid #81DEEB;
}

.blue .c-cta-group__intro-quicklinks a{
  color: white;
}

.blue .c-cta-group__intro-quicklinks a svg path{
  stroke: white;
}

.c-cta-group__intro-quicklinks a:nth-of-type(odd){
  margin-right: 30px;
}

.c-cta-group__intro-quicklinks a:nth-of-type(even){
  margin-left: 30px;
}

.c-cta-group__intro-quicklinks a span{
  display: block;
  position: relative;
  font-size: 16px;
  margin-top: 5px;
  color: #25282B;
}

.c-cta-group__intro-quicklinks a svg{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  transition: .2s ease-in-out;
}

.c-cta-group__intro-quicklinks a:hover svg{
  right: -20px;
}
