.c-dummy-text{
  display: block;
  position: relative;
}

.c-dummy-text{

  h1, h2, h3, h4, h5, h6, ul, ol, p{
    max-width: calc(80rem + 60px);
    width: 100%;
    margin: 0 auto;
    padding: 15px 30px 0px;
  }

  h1{
    font-family: "ABCArizonaMix", "Noto Sans HK";
    font-size: 45px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 30px;
    position: relative;
    color: #0C125D;
  }

  h2{
    font-family: "ABCArizonaMix", "Noto Sans HK";
    font-size: 36px;
    line-height: 48px;
    position: relative;
    margin-bottom: 20px;
    color: #0C125D;
  }

  h3{
    font-family: LibreFranklin, "Noto Sans HK", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
    color: #0C125D;
  }

  h4{
    font-family: LibreFranklin, "Noto Sans HK", sans-serif;
    font-size: 30px;
    text-align: left;
    margin-bottom: 10px;
    color: #0C125D;
  }

  h5{
    font-family: LibreFranklin, "Noto Sans HK", sans-serif;
    font-size: 24px;
    text-align: left;
    font-weight: 700;
    color: #0C125D;
    margin-bottom: 10px;
  }

  h6{
    font-family: LibreFranklin, "Noto Sans HK", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 10px;
    color: #0C125D;
  }

  p{
    margin-bottom: 10px;
  }

  ul, ol{
    margin-bottom: 15px;
  }

  a{
    color: #0B48E4;
    text-decoration: underline;
  }

  a:hover{
    text-decoration: none;
  }

}

@media screen and (max-width: 890px){

  .c-dummy-text{

    h1, h2, h3, h4, h5, h6, ul, ol, p{
      padding-top: 5px;
    }

    h1{
      font-size: 32px;
      margin-bottom: 10px;
    }

    h2{
      font-size: 25px;
      margin-bottom: 5px;
    }

    h3{
      font-size: 20px;
      margin-bottom: 5px;
    }

    h4{
      font-size: 20px;
      margin-bottom: 5px;
    }

    h5{
      font-size: 18px;
      margin-bottom: 5px;
    }

    h6{
      font-size: 16px;
      margin-bottom: 5px;
    }

    ul, ol{
      margin-bottom: 5px;
    }

    p{
      margin-bottom: 5px;
    }

  }

}
