.c-events-feed{
  padding: 90px 4.545454545%;
  background: #E8F2FF;
}

.c-events-feed-container{
  background: white;
  border-radius: 5px;
  display: block;
  position: relative;
  padding: 75px 120px 60px;
}


.c-events-feed-container h2{
  font-family: Domaine;
  font-size: 56px;
  display: inline-block;
}


.c-events-feed-container h2 i{
  font-size: 64px;
}


.c-events-feed-container__show-all{
  float: right;
  top: 30px;
}

.c-events-feed-listing{
  display: flex;
  position: relative;
  margin-top: 30px;
}

.c-events-feed-listing__dates,
.c-events-feed-listing__image{
  width: 50%;
}


.c-events-feed-listing__dates{
  margin-right: 50px;
}

.c-events-feed-listing__image{
  background: #ddd;
  border-radius: 5px;
}

.c-events-feed-listing ul li{
  display: block;
  font-family: Domaine;
  font-size: 28px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-right: 30px;
  position: relative;
  border-bottom: 1px solid #004088;
}

.c-events-feed-listing ul li:first-of-type{
  margin-top: 0px;
}

.c-events-feed-listing ul li:last-of-type{
  margin-bottom: 0px;
}

.c-events-feed-listing ul li span{
  background: #004088;
  color: white;
  font-family: Garnett;
  font-size: 10px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: inline-block;
  padding: 0px 10px;
}

.c-events-feed-listing ul li a{
  position: relative;
}

.c-events-feed-listing ul li svg{
  right: 0px;
  position: absolute;
  top: calc(50% + 20px);
  transform: translateY(-50%);

  transition: .2s ease-in-out;
}

.c-events-feed-listing ul li:hover svg{
  right: -20px;
}



@media screen and (max-width: 1140px){

  .c-events-feed{
    padding: 45px 4.545454545%;
  }

  .c-events-feed-container{
    padding: 50px 50px;
  }


}


@media screen and (max-width: 800px){

  .c-events-feed-container h2{
    display: block;

  }

  .c-events-feed-listing{
    display: block;
  }

  .c-events-feed-listing__dates{
    margin-bottom: 30px;
  }

  .c-events-feed-listing__dates, .c-events-feed-listing__image{
    width: 100%;
  }

  .c-events-feed-listing__image{
    height: 45vw;
  }

  .c-events-feed-container h2 i{
    font-size: 56px;
  }

  .c-events-feed-container__show-all{
    display: inline-block;
    float: none;
    margin-bottom: 30px;
    position: relative;
  }

  .c-events-feed-container {
      padding: 30px;
  }

  .c-events-feed-container h2, .c-events-feed-container h2 i {
    line-height: 48px;
    font-size: 48px;
  }

}
