.c-events-listing{
  display: block;
  position: relative;
  width: 100%;
  padding: 0px 4.545454545% 60px;
}

.c-events-listing__container{
  margin: 0 auto;
  display: block;
  position: relative;
  width: 100%;
}

.c-events-listing__event-contain{
  display: flex;
  position: relative;
  width: 100%;
  border-top: 1px solid #eee;
  padding: 50px 0px;
}

.c-events-listing__event-thumbnail{
  width: calc(100% / 3);
  margin-right: 30px;
  border-radius: 10px;
  min-height: 250px;
}

.c-events-listing__event-information{
  width: calc(100% / 3 * 2);
  align-self: center;
}

.c-events-listing__event-information h4{
  height: 20px;
  width: auto;
  display: inline-block;
  position: relative;
  background: #004088;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 600;
  padding: 0px calc(25px / 2);
  line-height: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.c-events-listing__event-information h3{
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #004088;
}

.c-events-listing__event-information p{
  margin-bottom: 5px;
}

.c-events-listing__event-information p strong{
  font-weight: 600;
}

.c-events-listing__event-description{
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}



@media screen and (max-width: 768px){

  .c-events-listing__event-contain{
    display: block;
  }

  .c-events-listing__event-thumbnail{
    height: 65vw;
    width: 100%;
    margin-bottom: 20px;
  }

  .c-events-listing__event-information{
    width: 100%;
  }


}
