.feature-cta{
  padding: 0px 4.545454545%;
  margin: 0 auto 60px;
}

.feature-cta h2{
  font-size: 12px !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: #0059F3;
  margin-bottom: 1rem;
  text-align: center;
}

.feature-cta h2:after{
  display: block;
  position: relative;
  height: 150px;
  width: 2px;
  margin: 0 auto;
  background: #0059F3;
  content: "";
  margin-top: 1rem;
}

.feature-cta h3{
  font-family: "Domaine";
  font-size: 45px;
  text-align: center;
  line-height: 56px;
  color: #004088;
}

.feature-cta ul{
  display: block;
  position: relative;
  width: 550px;
  text-align: center;
  margin: 1rem auto;
}

.feature-cta ul li{
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 30px;
  border: 2px solid #0A213C;
  border-radius: 5px;
  padding: 0px calc(25px / 2);
  line-height: 26px;
  height: 28px;
  box-sizing: border-box !important;
}


@media screen and (max-width: 600px){

  .feature-cta ul{
    width: 100%;
  }

}
