.c-fields-of-study-cards.c-wysiwyg{
  margin: 60px 0px 15px;
  width: 100%;
  padding: 0px 30px;
  position: relative;
  display: block;
  overflow: hidden;

  .c-fields-of-study-cards-contain{
    max-width: 80rem;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .c-fields-of-study-cards-card{
    width: calc(50% - 30px);
    margin-right: 30px;
    margin-bottom: 45px;
    background: #F9F9F9;
    padding: 20px;
    display: flex;
    position: relative;

    &-image{
      width: 40%;
    }

    &-content{
      width: 60%;
      padding-left: 30px;

      hr{
        height: 0px;
        border: 1px dashed #0C125D;
        width: 30px;
        margin-bottom: 15px;
      }

      h2{
        font-size: 26px;
        font-weight: 400;
        color: #0C125D;
        margin-bottom: 15px;
        padding: 0px;
      }

      p{
        margin-bottom: 20px;
        padding: 0px;
        font-size: 16px;
      }

      a{
        text-transform: uppercase;
        color: #0B48E4;
        font-size: 14px;
        text-decoration: none;
      }

    }

  }

  .c-fields-of-study-cards-card:nth-of-type(even){
    margin-right: 0px;
  }


}


@media screen and (max-width: 1080px){

  .c-fields-of-study-cards.c-wysiwyg{

    .c-fields-of-study-cards-card{
      flex-direction: column;
    }

    .c-fields-of-study-cards-card-image{
      width: 100%;
      height: 20vw;
      margin-bottom: 20px;
    }

    .c-fields-of-study-cards-card-content{
      width: 100%;
      padding-left: 0px;
    }

  }

}


@media screen and (max-width: 890px){

  .c-fields-of-study-cards.c-wysiwyg{

    .c-fields-of-study-cards-card-image{
      display: none;
    }

    .c-fields-of-study-cards-card{
      width: 100%;
      margin-right: 0px;
      margin-bottom: 30px;
    }

  }

}
