.c-fifty-fifty-block{
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 4.545454545%;
}

.fifty-fifty-block-white{
  background: white;
}

.fifty-fifty-block-tan{
  background: #FCF7F1;
}

.fifty-fifty-block-blue{
  background: #004088;
}

.c-fifty-fifty-container{
  display: flex;
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.c-fifty-fifty-image, .c-fifty-fifty-copy{
  width: 50%;
}

.c-fifty-fifty-copy{
  display: flex;
  align-items: center;
  padding: 60px;
  position: relative;
}

.c-fifty-fifty-copy h3{
  font-family: Domaine;
  font-size: 50px;
  color: #004088;
  line-height: 60px;
  margin-bottom: 10px;
}

.c-fifty-fifty-copy p{
  margin-bottom: 20px;
}


.c-fifty-fifty-copy ul{
  margin: 15px 0px 20px;
  display: block;
  position: relative;
  color: white !important;
}

.c-fifty-fifty-copy ul,
.c-fifty-fifty-copy li{
  list-style-type: initial;
  list-style-position: inside;
  color: white !important;
}

.fifty-fifty-copy-tan{
  background: #FBF7F2;
}

.fifty-fifty-copy-blue{
  background: #004088;
}


.fifty-fifty-copy-blue p{
  color: white;
  font-weight: 300;
}

.fifty-fifty-copy-blue h3{
  color: white !important;
}

.fifty-fifty-copy-tan.left::before,
.fifty-fifty-copy-white.left::before,
.fifty-fifty-copy-blue.left::before{
  height: 100%;
  left: -2px;
  width: 5px;
  background: #1075e8; /* Old browsers */
  background: -moz-linear-gradient(top, #1075e8 0%, #054dc1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1075e8 0%,#054dc1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1075e8 0%,#054dc1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1075e8', endColorstr='#054dc1',GradientType=0 );
  position: absolute;
  display: block;
  content: "";
  top: 0px;
}

.fifty-fifty-copy-tan.right::before,
.fifty-fifty-copy-white.right::before,
.fifty-fifty-copy-blue.right::before{
  height: 100%;
  right: -2px;
  width: 5px;
  background: #1075e8; /* Old browsers */
  background: -moz-linear-gradient(top, #1075e8 0%, #054dc1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1075e8 0%,#054dc1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1075e8 0%,#054dc1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1075e8', endColorstr='#054dc1',GradientType=0 );
  position: absolute;
  display: block;
  content: "";
  top: 0px;
}


.c-fifty-fifty-image.right{
  order: 2;
}

.fifty-fifty-block-blue .c-fifty-fifty-image{
  order: 2;
}

.fifty-fifty-block-blue .c-fifty-fifty-copy{
  background: white;
}


.c-fifty-fifty-image{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.c-fifty-fifty-copy__contents{
  display: block;
  position: relative;
  width: 100%;
}




.c-fifty-fifty__location-detail{
  display: block;
  position: relative;
  width: 100%;
  margin-top: 15px;
}

.c-fifty-fifty__location-detail > div{
  display: block;
  position: relative;
  width: 100%;
}

.c-fifty-fifty__location-detail > div:first-of-type{
  border-bottom: 1px solid #D0C9C0;
  padding-bottom: calc(15px / 2);
}

.c-fifty-fifty__location-detail > div:last-of-type{
  padding-top: calc(15px / 2);
  display: flex;
}

.c-fifty-fifty__location-detail > div:last-of-type a{
  text-decoration: underline;
}

.c-fifty-fifty__location-detail > div:last-of-type a,
.c-fifty-fifty__location-detail > div:last-of-type div{
  width: 50%;
}

.c-fifty-fifty__location-detail > div:last-of-type div{
  text-align: right;
}

.c-fifty-fifty__location-detail h4{
  font-family: Domaine;
  font-size: 24px;
  font-weight: 600;
  color: #004088;
}

.c-fifty-fifty__location-detail .button{
  padding: .5rem 1rem;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-top: 4px;
}

.c-fifty-fifty-block .button{
  margin-right: 5px;
}

.c-fifty-fifty-block .button.white{
  background: white !important;
  color: #0A213C !important;
  transition: .2s ease-in-out;
}

.c-fifty-fifty-block .button.white:hover{
  color: white !important;
  background: #0A213C !important;
}

.c-fifty-fifty-block .button.white svg path{
  stroke: #0A213C;
  stroke-width: 2;
  transition: .2s ease;
}


.c-fifty-fifty-block .button.white:hover svg path{
  stroke: white;
}


@media screen and (max-width: 768px){


  .fifty-fifty-copy-tan.left::before, .fifty-fifty-copy-white.left::before, .fifty-fifty-copy-blue.left::before{
    display: none;
  }

  .c-fifty-fifty-container{
    display: block !important;
    height: auto !important;
  }

  .c-fifty-fifty-image, .c-fifty-fifty-copy{
    width: 100% !important;
  }

  .c-fifty-fifty-image{
    height: 45vw;
  }

  .c-fifty-fifty-copy{
    padding: 30px !important;
  }

  .c-fifty-fifty-copy h3{
    font-size: 36px !important;
    line-height: 48px;
  }

}
