.c-hero-standard{
  background: #009ee4; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #009ee4 0%, #1075e8 49%, #009ee4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #009ee4 0%,#1075e8 49%,#009ee4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #009ee4 0%,#1075e8 49%,#009ee4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ee4', endColorstr='#009ee4',GradientType=1 );
  width: 100%;
}

.c-hero-standard{
  display: block;
  position: relative;
  width: 100%;
  height: 250px;
  padding: 0px 4.545454545%;
}

.c-hero-standard__contain{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.c-hero-standard__contain-copy{
  width: 100%;
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.c-hero-standard__contain-copy{
  display: flex;
  width: 100%;
  padding: 0px 4.545454545%;
  text-align: center;

  align-items: center;
}

.c-hero-standard__contain-image{
  height: calc(100% - 65px);
  border-radius: 5px;
}

.c-hero-standard__contain-copy h1{
  font-size: 55px;
  font-family: Garnett;
  color: white;
  font-weight: 600;
  width: 100%;
  margin-top: -30px;
}

.c-hero-standard__contain-copy h1:before{
  display: block;
  margin: 1rem auto;
  content: "";
  width: 1px;
  background: #FDC126;
  height: 50px;
  position: relative;
}

.c-hero-standard__contain-copy p{
  color: white;
}



.c-hero-standard__intro-block{
  display: block;
  position: relative;
  width: 100%;
  padding: 45px 4.166666667% 60px;
}

.c-hero-standard__intro-container{
  display: flex;
  position: relative;
  width: 100%;
}


.c-hero-standard__intro-block h2{
  font-family: Domaine;
  font-size: 36px;
  color: #004088;
  margin-bottom: 1rem;
}

.c-hero-standard__intro-block h3{
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #0059F3;
  position: relative;
  display: block;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.c-hero-standard__intro-block p{
  color: #363030;
}

.c-hero-standard__intro-body{
    width: 75%;
    padding-right: 60px;
}

.c-hero-standard__intro-quicklinks{
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  margin: 1.75rem 0px 0px;
}

.c-hero-standard__intro-quicklinks a{
  width: calc(50% - 30px);
  font-size: 22px;
  color: #004088;
  margin-bottom: 1rem;
  border-bottom: 2px solid #D0C9C0;
  padding-bottom: 15px;
}

.c-hero-standard__intro-quicklinks a:nth-of-type(odd){
  margin-right: 30px;
}

.c-hero-standard__intro-quicklinks a:nth-of-type(even){
  margin-left: 30px;
}

.c-hero-standard__intro-quicklinks a span{
  display: block;
  position: relative;
  font-size: 16px;
  margin-top: 5px;
  color: #25282B;
}


@media screen and (max-width: 768px){

  .c-hero-standard__contain-copy h1{
    font-size: 40px;
    line-height: 48px;
  }

}
