.c-hero-locations{
  background: #009ee4; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #009ee4 0%, #1075e8 49%, #009ee4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #009ee4 0%,#1075e8 49%,#009ee4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #009ee4 0%,#1075e8 49%,#009ee4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ee4', endColorstr='#009ee4',GradientType=1 );
  display: block;
  position: relative;
  width: 100%;
  height: 250px;
  padding: 0px 4.545454545%;
}

.c-hero-locations__contain{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.c-hero-locations__contain-copy{
  width: 100%;
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.c-hero-locations__contain-copy{
  display: flex;
  width: 100%;
  padding: 0px 4.545454545%;
  text-align: center;

  align-items: center;
}

.c-hero-locations__contain-image{
  height: calc(100% - 65px);
  border-radius: 5px;
}

.c-hero-locations__contain-copy h1{
  font-size: 55px;
  font-family: Garnett;
  color: white;
  font-weight: 600;
  width: 100%;
  margin-top: -30px;
}

.c-hero-locations__contain-copy h1:before{
  display: block;
  margin: 1rem auto;
  content: "";
  width: 1px;
  background: #FDC126;
  height: 50px;
  position: relative;
}

.c-hero-locations__contain-copy p{
  color: white;
}




.c-hero-locations__intro-block{
  display: block;
  position: relative;
  width: 100%;
  padding: 45px 4.166666667% 0px;
}

.c-hero-locations__intro-container{
  display: flex;
  position: relative;
  width: 100%;
}


.c-hero-locations__intro-block h2{
  font-family: Domaine;
  font-size: 36px;
  color: #004088;
  margin-bottom: 1rem;
}

.c-hero-locations__intro-block h3{
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #3573E0;
  position: relative;
  display: block;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.c-hero-locations__intro-body p{
  color: #363030;
  line-height: 28px;
}



.c-hero-locations__intro-body{
    width: 75%;
    padding-right: 60px;
}

.c-hero-locations__sidebar p{
  display: block;
  position: relative;
  font-size: 12px;
  margin-bottom: 10px;
}

.c-hero-locations__sidebar p span{
  font-weight: 600;
  display: block;
  font-size: 10px;
  margin-bottom: 5px;
  position: relative;
}

.c-hero-locations__sidebar p span:before{
  display: block;
  position: relative;
  content: "";
  width: 35px;
  height: 1px;
  background: #D0C9C0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.c-hero-locations__sidebar a:before,
.c-hero-locations__sidebar a:after{
  display: none !important;
}

.c-hero-locations__sidebar a.bottom-links{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #0059F3;
}


@media screen and (max-width: 768px){

  .c-hero-locations__intro-container{
    display: block;
  }

  .c-hero-locations__contain-copy h1{
    font-size: 40px;
    line-height: 48px;
  }

  .c-hero-locations__intro-body{
    width: 100%;
    padding-right: 0px;
    margin-bottom: 30px;
  }

}
