.c-iconlist-header {
  font-size: 16px !important;
  font-family: "LibreFranklin", "Noto Sans HK";
  font-weight: 300;
  color: #F0D066;
  font-weight: 600;
  text-transform: uppercase;
}

.c-iconlist-link {
  font-family: "ABCArizonaMix", "Noto Sans HK";
  font-weight: bold;
  font-size: 20px !important;
}
.c-iconlist-icon {
  width: fit-content;

  .c-iconlist-default{
    display: block;
  }

  .c-iconlist-hover{
    display: none;
  }

}

a:hover{

  .c-iconlist-icon{

    .c-iconlist-default{
      display: none;
    }

    .c-iconlist-hover{
      display: block;
    }

  }

}

.c-iconlist-content {
  display: flex;
}
.c-iconlist-content:hover .c-iconlist-icon{
  background-size: 100% 84px;
  background-position: right 14px;
  background-image: linear-gradient(to right, transparent 50%, #0B48E4 50%);
  background-repeat:no-repeat;
}
.c-iconlist-content:hover .c-iconlist-text__inner{
  background-color: #0B48E4;
  border-top-right-radius: 80px 80px;
  border-bottom-right-radius: 80px 80px;
}


.c-iconlist-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.c-iconlist-text__inner {
  padding: 15px 0;
  padding-right: 20px;
}

@media screen and (max-width: 1280px){

  .c-iconlist-wrapper{
    padding: 0px 30px;
  }

}
