.c-interactive-steps{
  padding: 90px 4.545454545%;
  display: block;
  position: relative;
  background: #FBF7F2;
}

.c-interactive-steps h2{
  font-size: 60px;
  font-family: Domaine;
  text-align: center;
  color: #004088;
  margin-bottom: 30px;
}

.c-interactive-steps h2 em{
  font-size: 70px;
  letter-spacing: -2px;
}

.c-interactive-steps__container{
  background: white;
  padding: 75px 45px 60px;
  display: flex;
  border-radius: 5px;
  position: relative;
}

.c-interactive-steps__container > div{
  width: 50%;
}

.c-interactive-steps__container > div:last-of-type{
  padding-left: 45px;
  position: relative;
}

.c-interactive-steps__container ol{
  list-style: numeric;
  font-family: Domaine;
  font-size: 32px;
  list-style-position: inside;
}

.c-interactive-steps__container ol li{
  border-bottom: 1px solid #0D2948;
  height: 75px;
  line-height: 75px;
  display: list-item;
  position: relative;
  color: #004088;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.c-interactive-steps__container ol li.is-open{
  border-bottom: 5px solid #FDC126;
  font-weight: 600;
}

.c-interactive-step__step-contents{
  position: relative;
  display: block;
}

.c-interactive-step__step-detail{
  display: none;
  opacity: 0;
  height: 0px;
  transition: .5s ease-in-out;
}

.c-interactive-step__step-detail.is-open{
  opacity: 1;
  display: block;
  height: 100%;
}


@media screen and (max-width: 1280px){

  .c-interactive-list__container .c-interactive-list__location-details {
    padding-left: 45px;
  }

  .c-interactive-list__container .c-interactive-list__locations{
    padding-top: 100px;
  }

}


@media screen and (max-width: 1024px){

  .c-interactive-list__container .c-interactive-list__locations{
    padding-right: 0px;
  }

}

@media screen and (max-width: 890px){

  .c-interactive-list__container .c-interactive-list__locations{
    padding-top: 50px;
  }

}

@media screen and (max-width: 800px){

  .c-interactive-list{
    padding-right: 4.545454545%;
  }

  .c-interactive-list__container .c-interactive-list__location-details{
    display: none;
  }

  .c-interactive-list__container .c-interactive-list__locations{
    width: 100%;
  }

}

@media screen and (min-width: 601px){

  .c-interactive-step__step-detail-mobile{
    display: none;
  }

  .c-step-trigger{
    display: none;
  }

}

@media screen and (max-width: 600px){

  .c-interactive-steps__container ol li{
    height: auto;
  }

  .c-interactive-steps__container{
    padding-top: 30px;
    display: block;
  }

  .c-interactive-steps__container > div{
    width: 100%;
  }

  .c-interactive-step__step-contents{
    display: none;
  }

  .c-interactive-step__step-detail-mobile .c-interactive-step__step-contents{
    display: block !important;
  }

  .c-interactive-steps h2 {
      font-size: 50px;
      line-height: 60px;
  }

  .c-interactive-step__step-detail-mobile{
    display: none;
    position: relative;
  }

  .is-open .c-interactive-step__step-detail-mobile{
    display: block;
  }

  .c-interactive-step__step-detail-mobile p{
    font-size: 16px;
    font-family: "Garnett";
    line-height: 28px;
    font-weight: 400;
    color: black;
  }

  .c-interactive-step__step-detail-mobile br{
    display: none;
  }

  .c-interactive-step__step-detail-mobile .button{
    display: block;
    text-align: center;
  }

  .c-interactive-step__step-detail-mobile .button:last-of-type{
    margin-bottom: 30px;
  }

  .c-interactive-steps h2 em {
      font-size: 50px;
      line-height: 60px;
  }

  .is-open .c-step-trigger{
    transform: scale(-1);
    transform-origin: center center;
  }

  .c-step-trigger{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 25px;
    right: 0px;
  }

  .c-step-trigger svg{
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
  }



}
