.c-lancaster-home{
  margin: 60px 0px;
  width: 100%;
  background-color: #0c125d;
  padding: 0px 30px;
  position: relative;
  display: block;
  background: url('/_resources/images/images/bkg-FullWithTopCurves.svg') top center no-repeat;
  background-size: cover;

  &-wrapper{
    display: block;
    position: relative;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding-top: 300px;
    padding-bottom: 75px;

    h2{
      color: #FFCC24;
      font-size: 35px;
      margin-bottom: 30px;
      font-family: "LibreFranklin", "Noto Sans HK";

      strong{
        font-size: 45px;
        font-family: "ABCArizonaMix", "Noto Sans HK";
        font-weight: 700;
      }

    }

  }

  &-carousel{
    display: block;
    position: relative;
    width: 100%;
    z-index: 20;

    &::after{
      content: "";
      background: url('/_resources/images/images//bg_Illus_BellTower-Top-black.svg') center right no-repeat;
      background-size: contain;
      height: calc(100% + 250px);
      width: calc(50% + ((100vw - 80rem) / 2));
      display: block;
      left: 50%;
      z-index: -1;
      top: -188px;
      position: absolute;
    }

    &-slide{
      height: 500px;
      width: 100%;
      display: none;
      position: relative;

      &-large-image{
        position: relative;
        width: 75%;
        border: 2px solid white;
        border-right: 0px;
        border-left: 0px;
      }

      &-small{
        width: 25%;
        position: relative;
        padding-left: 60px;

        &-image{
          width: 100%;

          min-width: 260px;
          height: 260px;
          border-radius: 100%;
          padding: calc(15px / 2);
          border: 3px dashed white;
          margin-bottom: 50px;

          > div{
            height: 100%;
            width: 100%;
            border-radius: 100%;
            display: block;
            position: relative;
          }

        }

        p{
          color: white;
        }

      }

    }

    &-slide.active{
      display: flex;
    }

    &-controls{
      display: block;
      position: absolute;
      width: 25%;
      bottom: 0px;
      right: 0px;
      padding-left: 60px;

      a{
        background: #FFC300;
        height: 45px;
        display: inline-block;
        position: relative;
        color: #0C125D;
        padding: 0px 15px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        margin-right: 20px;
      }

      a:last-of-type{
        margin-right: 0px;
      }

    }

  }

}


@media screen and (max-width: 1360px){

  .c-lancaster-home-carousel-slide-small-image{
    width: 100%;
    min-width: 0;
    height: 18.25vw;
  }


  .c-lancaster-home-carousel-controls a{
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 1280px){

  .c-lancaster-home{

    &-carousel{

      &::after{
        right: -30px;
        top: initial;
        bottom: -75px;
        left: initial;
        width: 33%;
        background-size: cover;
      }

    }

  }

}

@media screen and (max-width: 1140px){

  .c-lancaster-home-carousel-slide-small,
  .c-lancaster-home-carousel-controls{
    padding-left: 30px;
  }

  .c-lancaster-home-carousel-slide-small-image {
    height: 21vw;
  }

}

@media screen and (max-width: 980px){

  .c-lancaster-home{
    background: #0C125D;
  }

  .c-lancaster-home-wrapper{
    padding-top: 60px;
  }

  .c-lancaster-home-wrapper h2 strong{
    font-size: 25px;
  }

  .c-lancaster-home-wrapper h2{
    font-size: 20px;
  }

  .c-lancaster-home-carousel::after{
    display: none;
  }

  .c-lancaster-home-carousel-slide{
    height: auto;
  }

  .c-lancaster-home-carousel-slide.active{
    display: block;
  }

  .c-lancaster-home-carousel-slide-large-image{
    width: 100%;
    height: 50vw;
    border-radius: 5px;
  }

  .c-lancaster-home-carousel-slide-small{
    display: flex;
    width: 100%;
    padding-top: 30px;
    padding-left: 0px;
  }

  .c-lancaster-home-carousel-slide-small-image{
    order: 2;
    width: 125px;
    height: 125px;
    margin-bottom: 0px;
  }

  .c-lancaster-home-carousel-slide-small-caption{
    order: 1;
    width: calc(100% - 125px);
  }

  .c-lancaster-home-carousel-controls{
    position: relative;
    display: block;
    width: 100%;
    padding-left: 0px;
  }


}
