.c-lancaster-home{
  margin: 60px 0px;
  width: 100%;
  padding: 0px 30px;
  position: relative;
  display: block;
  background: url('/_resources/images/images/lancaster-home-bg.svg') top center no-repeat;
  background-size: cover;

  &-wrapper{
    display: block;
    position: relative;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding-top: 300px;
    padding-bottom: 75px;

    h2{
      color: #FFC300;
      font-size: 35px;
      margin-bottom: 30px;

      strong{
        font-size: 45px;
        font-weight: 700;
      }

    }

  }

  &-carousel{
    display: block;
    position: relative;
    width: 100%;

    &-slide{
      height: 500px;
      width: 100%;
      display: none;
      position: relative;

      &-large-image{
        position: relative;
        width: 75%;
        border: 2px solid white;
        border-right: 0px;
        border-left: 0px;
      }

      &-small{
        width: 25%;
        position: relative;
        padding-left: 60px;

        &-image{
          width: 100%;

          min-width: 260px;
          height: 260px;
          border-radius: 100%;
          padding: calc(15px / 2);
          border: 3px dashed white;
          margin-bottom: 50px;

          > div{
            height: 100%;
            width: 100%;
            border-radius: 100%;
            display: block;
            position: relative;
          }

        }

        p{
          color: white;
        }

      }

    }

    &-slide.active{
      display: flex;
    }

    &-controls{
      display: block;
      position: absolute;
      width: 25%;
      bottom: 0px;
      right: 0px;
      padding-left: 60px;

      a{
        background: #FFC300;
        height: 45px;
        display: inline-block;
        position: relative;
        color: #0C125D;
        padding: 0px 15px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        margin-right: 20px;
      }

      a:last-of-type{
        margin-right: 0px;
      }

    }

  }

}
