.c-news-feature{
  padding: 65px 30px;
  border-top: 2px dashed #FFC300;
  border-bottom: 2px dashed #FFC300;
  background: #F9F9F9;
  margin: 90px 0px;

  &-wrapper{
    max-width: 80rem;
    display: flex;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }

  &-content{
    width: 50%;
    padding-right: 90px;

    h2{
      span{
        font-size: 16px;
        display: block;
        font-family: "LibreFranklin";
        text-transform: uppercase;
        color: #0B48E4;
      }
      font-family: "ABCArizonaMix";
      font-size: 45px;
      line-height: 56px;
      color: #0C125D;
      margin-bottom: 30px;
    }

    p{
      font-size: 18px;
      line-height: 32px;
    }

    > span{
      display: block;
      width: 30px;
      height: 0px;
      border: 1px dashed #ffc300;
      margin: 20px 0px;
    }

    a{
      text-transform: uppercase;
      font-size: 14px;
      color: #0B48E4;
    }

  }

  &-image{
    width: 50%;
  }

}


@media screen and (max-width: 890px){

  .c-news-feature-wrapper{
    display: block;
  }

  .c-news-feature-content, .c-news-feature-image{
    width: 100%;
  }

  .c-news-feature-content{
    margin-bottom: 30px;
  }

  .c-news-feature-content h2{
    font-size: 25px;
    margin-bottom: 10px;
  }

  .c-news-feature-content p{
    font-size: 16px;
  }

  .c-news-feature-image{
    height: 60vw;
  }

}
