.c-news-heading{
  display: block;
  position: relative;
  width: 100%;
  padding: 0px 30px;

  &-wrapper{
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: block;

    > a{
      background: #FFC300;
      border: 1px solid black;
      color: black;
      text-transform: uppercase;
      padding: 0px 15px;
      line-height: 40px;
      height: 40px;
      display: inline-block;
      position: relative;
    }

    > a:hover{
      color: white;
      background: #0C125D;
      border: 1px solid #0C125D;
    }

    h2{
      font-family: "ABCArizonaMix";
      font-size: 45px;
      color: #0C125D;
      margin-top: 60px;
    }

  }

  &--article-meta{
    color: #808080;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
  }

  &--social-links{
    display: block;
    position: relative;
    width: 100%;
    margin: 30px 0px;

    a{
      display: inline-block;
      width: auto;
      height: auto;
      margin-right: 20px;
      position: relative;
    }

  }

  &--image{
    display: block;
    position: relative;
    width: 100%;

    img{
      width: 100%;
      height: auto;
      display: block;
      position: relative;
    }

  }

  &--image-caption{
    font-style: italic;
    color: #808080;
    margin-top: 15px;

    a{
      color: #0B48E4;
      font-weight: bold;
    }
  }

}

@media screen and (max-width: 890px){

  .c-news-heading-wrapper h2{
    font-size: 25px;
    line-height: 36px;
  }

  .c-news-heading--image{
    margin-bottom: 30px;
  }

}
