.c-people-block{

  &-wrapper{
    display: block;
    position: relative;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0px;
  }

  .c-people-grid{
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;

    > div{
      width: calc(100% / 3 - 60px);
      margin-right: 60px;
      position: relative;
      margin-bottom: 30px;
      border-left: 2px dashed #FFC300;
      padding-left: 30px;

      p{
        font-size: 18px;

        strong{
          font-weight: 700;
          text-transform: uppercase;

        }

        &:nth-of-type(2){
          margin-bottom: 20px;
        }

        &:nth-of-type(3){
          text-transform: uppercase;
          margin-bottom: 30px;
        }

      }

      a{
        color: #0B48E4;
        font-size: 14px;
        text-transform: uppercase;
      }

    }

  }



}


@media screen and (max-width: 890px){

  .c-people-block .c-people-grid{
    padding: 0px 30px;
  }

  .c-people-block .c-people-grid > div{
    width: 100%;
  }

}
