.c-policy-list{
  padding: 0px 30px;
  width: 100%;

  &-wrapper{
    max-width: 80rem;
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
  }

}

.c-policy-list-cards{
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.c-policy-list-card{
    width: calc(33% - 20px);
    display: flex;
    position: relative;
    margin-right: 30px;
    padding: 20px;
    margin-bottom: 30px;
    background: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);

    .c-policy-list-card-contain{
      display: flex;
      position: relative;
      flex-direction: column;
    }

    &-content{
      order: 2;

      h3{
        text-align: left;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 5px;
      }

      p{
        text-align: left;
        margin-bottom: 10px;
      }

    }

    &-date{
      text-align: left;
      text-transform: uppercase;
      color: #0C125D;
      margin-bottom: 10px;
    }

    &-cta{
      order: 3;
      text-align: left;
      border-bottom: 2px solid #FFC300;
      padding-bottom: 10px;
      margin-bottom: 10px;

      a{
        color: #0B48E4;
        font-size: 14px;
        text-transform: uppercase;
      }
    }

    &-category{
      order: 4;
      text-align: left;
      padding-left: 30px;
      background: url('/_resources/images/images/icon-paper.svg') center left no-repeat;

      a{
        color: #0B48E4;
        font-size: 14px;
        text-transform: uppercase;
      }
    }

  }

.c-policy-list-card:nth-of-type(3n){
  margin-right: 0px;
}


.c-pagination-links{
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 60px;
  margin-top: 30px;

  svg{
    display: inline;
    margin: 0px 10px;
  }

  .inactive{
    opacity: .25;
    pointer-events: none;
  }

}

.c-pagination-links a, .c-pagination-links span{
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 25px;
}

.c-pagination-link-active{
  font-size: 20px;
  background: #FFC300;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  line-height: 25px;
}

@media screen and (max-width: 890px){

  .c-policy-list-card{
    width: 100%;
    margin-right: 0px;
  }

}
