.rich-text {
  @apply font-light text-16 lg:text-18;

  h2 {
    @apply my-6 lg:my-8 font-display text-24 md:text-32 lg:text-40 leading-110 font-semibold tracking-slight;
  }

  h3 {
    @apply my-4 font-sans text-18 lg:text-24 leading-160 font-semibold;
  }

  h4,
  h5,
  h6, {
    @apply my-4 font-sans text-16 lg:text-18 leading-160 font-semibold;
  }

  img {
    @apply my-8 lg:my-10 w-full h-auto max-w-max;
  }

  p {
    @apply my-4 text-16 lg:text-18;
  }

  ul {
    @apply my-4 list-square text-16 lg:text-18;
  }

  ol {
    @apply my-4 list-decimal text-16 lg:text-18;
  }

  li {
    @apply ml-9;
  }

  hr {
    @apply my-8 border-t-2 border-blue-ash;
  }

  strong {
    @apply font-semibold;
  }

  em {
    @apply italic;
  }

  a {
    @apply font-semibold underline hover:no-underline;
    background-image: linear-gradient(180deg, #FFA509 0, #FFA509 100%);
    background-position: left top;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 350ms ease-in-out;

    &:hover {
      background-size: 200% 100%;
    }
  }

  *:first-child {
    @apply mt-0;
  }
}

.hover-highlight,
.hover-highlight-child {
  background-image: linear-gradient(180deg, #FFA509 0, #FFA509 100%);
  background-position: left top;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 350ms ease-in-out;
}

.hover-highlight:hover,
a:hover > .hover-highlight,
button:hover > .hover-highlight,
a:hover .hover-highlight-child,
button:hover .hover-highlight-child {
  background-size: 200% 100%;
}
