.sidebar{
  width: 25%;
  align-self: flex-start;
  border-bottom: 1px solid #cbd5e2;
  border-left: 1px solid #cbd5e2;
  border-right: 1px solid #cbd5e2;
  border-top: 5px solid #0059F3;
  padding: 25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.sidebar a{
  font-size: 13px;
  display: block;
  position: relative;
  padding-left: 0px;
  font-weight: 400;
  transition: .2s ease-in-out;
}

.sidebar a:hover{
  font-weight: 500;
}

.sidebar a:before{
  display: block;
  position: relative;
  content: "";
  width: 35px;
  height: 1px;
  background: #D0C9C0;
  margin-top: 10px;
  left: 0px;
  margin-bottom: 10px;
}

.sidebar a:first-of-type:before{
  margin-top: 0px;
}

.sidebar a:last-of-type:after{
  display: block;
  position: relative;
  content: "";
  width: 35px;
  left: 0px;
  height: 1px;
  background: #D0C9C0;
  margin-top: 10px;
}
