.c-site-map{
  display: block;
  position: relative;
  width: 100%;
  padding: 0px 4.545454545% 0px;
}

.c-site-map__contain{
  display: block;
  position: relative;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 60px;
}

.c-site-map__section{
  position: relative;
  display: block;
  margin-bottom: 60px;
}

.c-site-map__section:after{
  content: "";
  bottom: 0px;
  width: calc(50% - 20px);
  height: 1px;
  background: #eeeeee;
  position: absolute;
  display: block;
  bottom: -20px;
}

.c-site-map__section h3{
  font-family: Domaine;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.c-site-map__section ul{
  list-style-type: disc;
  display: flex;
  flex-wrap: wrap;
}

.c-site-map__section li{
  width: calc(50% - 15px);
  position: relative;
  margin-left: 15px;
  margin-bottom: 15px;
}

.c-site-map__section li a{
  font-weight: 400;
  color: #004088;
  text-decoration: underline;
}
