.c-fifty-fifty-block{
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 4.545454545%;
}

.fifty-fifty-block-white{
  background: white;
}

.fifty-fifty-block-blue{
  background: #004088;
}

.c-fifty-fifty-container{
  display: flex;
  position: relative;
  width: 100%;
  height: 500px;
}

.c-fifty-fifty-image, .c-fifty-fifty-copy{
  width: 50%;
}

.c-fifty-fifty-copy{
  display: flex;
  align-items: center;
  padding: 60px;
  position: relative;
}

.c-fifty-fifty-copy h3{
  font-family: Domaine;
  font-size: 50px;
  color: #004088;
  margin-bottom: 10px;
}

.c-fifty-fifty-copy p{
  margin-bottom: 20px;
}

.fifty-fifty-copy-tan{
  background: #FBF7F2;
}

.fifty-fifty-copy-tan::before{
  height: 100%;
  left: -2px;
  width: 5px;
  background: #0059F3; /* Old browsers */
  background: -moz-linear-gradient(top, #1075e8 0%, #054dc1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1075e8 0%,#054dc1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1075e8 0%,#054dc1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1075e8', endColorstr='#054dc1',GradientType=0 );
  position: absolute;
  display: block;
  content: "";
  top: 0px;
}

.fifty-fifty-copy-blue.left{
  border-left: 2px solid blue;
}

.c-fifty-fifty-image{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.c-fifty-fifty-copy__contents{
  display: block;
  position: relative;
  width: 100%;
}
