.c-testimonial{
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 4.545454545%;
}

.c-wysiwyg + .c-testimonial{
  padding: 30px 4.545454545%;
}

.c-testimonial__contain{
  display: flex;
  position: relative;
  width: 100%;
  min-height: 400px;
}

.c-testimonial__contain:after{
  width: calc(100% + 4.545454545% + 10px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #FDC126;
  content: "";
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  left: calc(-4.545454545% - 10px);
}

.c-testimonial__copy{
  width: calc(100%);
  display: flex;
  position: relative;
  align-items: center;
  padding: 45px;
  padding-left: 125px;
  padding-right: 90px;
}


.c-testimonial__image + .c-testimonial__copy{
  width: calc(100% / 3 * 2);
  padding-left: 175px;
}

.c-testimonial__copy svg{
  position: absolute;
  display: block;
  top: 60px;
  left: 0px;
}

.c-testimonial__image + .c-testimonial__copy svg{
  left: 60px;
}

.c-testimonial__copy h2{
  font-family: Domaine;
  color: #004088;
  font-size: 28px;
  margin-bottom: 30px;
}

.c-testimonial__copy p strong{
  font-weight: 600;
}

.c-testimonial__image{
  width: calc(100% / 3);
  border-radius: 10px;
}


@media screen and (max-width: 800px){

  .c-testimonial__contain{
    display: block;
    min-height: initial;
  }

  .c-testimonial__image{
    height: 65vw;
    width: 100%;
  }

  .c-testimonial__copy{
    padding-top: 80px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .c-testimonial__image + .c-testimonial__copy{
    width: 100%;
    padding: 110px 0px 30px;
  }


  .c-testimonial__contain:after{
    width: calc(100% + 9.09090909%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #FDC126;
    content: "";
    position: absolute;
    height: calc(100% + 30px);
    top: -30px;
  }

  .c-testimonial__contain.has-image:after {
    width: calc(100% + 9.09090909%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #FDC126;
    content: "";
    position: absolute;
    height: calc(65vw - 45px);
    top: calc(45px / 2);
  }

  .c-testimonial__copy h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .c-testimonial__copy svg{
    top: 0px;
    width: 60px;
  }

  .c-testimonial__image + .c-testimonial__copy svg{
    left: 0px;
    top: 30px;
  }



}
