.c-three-up{
  background: #003f8e; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #003f8e 0%, #002b4d 49%, #003064 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #003f8e 0%,#002b4d 49%,#003064 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #003f8e 0%,#002b4d 49%,#003064 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003f8e', endColorstr='#003064',GradientType=1 );
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 4.545454545%;
}

.c-three-up__contain{
  display: flex;
  width: 100%;
  position: relative;
}

.c-three-up__entry{
  width: calc(100% / 3);
  background: white;
  border-radius: 5px;
  margin-right: 40px;
  text-align: center;
  padding: 40px;
  border-top: 5px solid #0059F3;
  margin-bottom: 35px;
}

.c-three-up__entry:last-of-type{
  margin-right: 0px;
}

.c-three-up__entry-icon{
  margin: 0 auto;
  position: relative;
  display: inline-block;
  height: 125px;
  width: 125px;
}

.c-three-up__entry h2{
  font-family: Domaine;
  font-size: 28px;
  font-weight: 500;
  color: #00418D;
  display: block;
  position: relative;
}

.c-three-up__entry h2:after{
  display: block;
  position: relative;
  width: 1px;
  height: 40px;
  margin: 10px auto;
  content: "";
  background: #00418D;
}

.c-three-up__cta-contain{
  width: 100%;
  display: block;
  position: relative;
  text-align: center;
}


@media screen and (max-width: 768px){

  .c-three-up__contain{
    display: block;
    position: relative;
  }

  .c-three-up__entry{
    width: 100%;
  }

}
