.c-video-block{

  display: block;
  position: relative;
  width: 100%;
  padding: 0px 30px;
  max-width: calc(80rem + 60px);
  margin: 0px auto 60px;

  .c-video-title{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
    background: url('/_resources/images/images/three-up-feature-ring.svg') center center no-repeat;
    min-height: 110px;
    margin-top: 45px;
    margin-bottom: 45px;


    h2{
      font-size: 45px;
      text-align: center;
      font-weight: 700;
      color: #0C125D;
      font-family: "ABCArizonaMix";
    }

  }

  .c-video-description p{
    font-size: 18px;
    font-style: normal;
    color: black;
  }

}

.c-video-block .object-cover.adhere{
  display: none !important;
}

.c-video-block p{
  font-size: 14px;
  display: block;
  position: relative;
  width: 100%;
  color: #808080;
  margin: 15px 0px 30px;
  font-style: italic;
}

.c-video-block .w-full{
  border-radius: 10px;
  overflow: hidden;
}


@media screen and (max-width: 890px){

  .c-video-block .c-video-title{
    background: none;
    text-align: left;
    display: block;
    padding: 0px;
    margin-bottom: 30px;
    min-height: 0px;
  }

  .c-video-block .c-video-title h2{
    font-size: 25px;
    text-align: left;
  }

  .c-video-block .c-video-description p{
    font-size: 16px;
  }

}
