.c-wysiwyg{
  display: block;
  position: relative;
  width: 100%;
  /* padding: 0px 30px; */

  &__contain{
    /* max-width: 80rem;
    margin: 0 auto; */
  }

  &-video-embed{
    max-width: calc(80rem + 60px);
    padding: 0px 30px;
    margin: 0 auto 15px;

    iframe{
      display: inline;
      max-width: 100%;
    }

  }

  .align-left{
    text-align: left;
  }

  .align-right{
    text-align: right;
  }

  .align-center{
    text-align: center;
  }

  &-title{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: center;
    background: url('/_resources/images/images/three-up-feature-ring.svg') center center no-repeat;
    min-height: 110px;
    margin-bottom: 45px;
    margin-top: 45px;


    h2{
      font-size: 45px;
      text-align: center;
      font-weight: 700;
      color: #0C125D;
      font-family: "ABCArizonaMix", "Noto Sans HK";
    }
  }

  h1, h2, h3, h4, h5, h6, ul, ol, p{
    max-width: calc(80rem + 60px);
    width: 100%;
    margin: 0 auto;
    padding: 15px 30px 0px;
  }

  h1{
    font-family: "ABCArizonaMix", "Noto Sans HK";
    font-size: 45px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 30px;
    position: relative;
    color: #0C125D;
  }

  h2{
    font-family: "ABCArizonaMix", "Noto Sans HK";
    font-size: 36px;
    line-height: 48px;
    position: relative;
    margin-bottom: 20px;
    color: #0C125D;
  }

  h3{
    font-family: LibreFranklin, "Noto Sans HK", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
    color: #0C125D;
  }

  h4{
    font-family: LibreFranklin, "Noto Sans HK", sans-serif;
    font-size: 30px;
    text-align: left;
    margin-bottom: 10px;
    color: #0C125D;
  }

  h5{
    font-family: LibreFranklin, "Noto Sans HK", sans-serif;
    font-size: 24px;
    text-align: left;
    font-weight: 700;
    color: #0C125D;
    margin-bottom: 10px;
  }

  h6{
    font-family: LibreFranklin, "Noto Sans HK", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 10px;
    color: #0C125D;
  }

  p{
    margin-bottom: 10px;
    padding-top: 0px;
  }

  ul, ol{
    margin-bottom: 15px;
  }

  a{
    color: #0B48E4;
    text-decoration: underline;
  }

  a:hover{
    text-decoration: none;
  }

  iframe{
    max-width: 100%;
  }

}

.c-news-heading + .c-wysiwyg{
  margin-top: 45px;
}

.c-wysiwyg img{
  position: relative;

  &.full-width-image{

      display: block;
      width: 100%;
      margin-bottom: 30px;

  }

}

.c-wysiwyg p{
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
  /* margin: 0 auto 20px; */
}

@media screen and (max-width: 890px){

  .c-wysiwyg img{

    &.full-width-image{
        margin-bottom: 15px;
    }

  }

  .c-wysiwyg p{
    font-size: 16px;
  }

  .c-news-heading + .c-wysiwyg{
    margin-top: 30px;
  }

}

.c-wysiwyg.bg-dark{

  background: #0C125D;
  padding: 45px 30px;

  h2{
    color: #FFC300;
  }

  p{
    color: white;
  }

  .c-wysiwyg-title{
    background: none;
  }


}
