---
layout: main.html
bodyClass: landing
components:

  - name: hero-landing
    image: '/_resources/images/images/bg-program-listing.png'
    heading: 'Alumni Connections'
    breadcrumbs:
      - title: Home
        link: '#'
    backcaption: 'Back to Fields of Study - A to Z'
    backlink: '#'
    subheading: 'We Are F&Mily!'
    paragraph: 'Our alumni are an integral part of the life and continued success of the college. F&M Alumni Relations is here to build meaningful relationships, provide resources, and engaging opportunities necessary to strengthen and uphold that success.
    '
    quicktitle: 'Environmental Science'
    quicklinks:
      - title: 'Request More Information'
        link: '#'
      - title: 'Scholarships'
        link: '#'
      - title: 'Course Catalog (PDF)'
        link: '#'
      - title: 'Apply Now'
        link: '#'

  - name: three-up-feature
    title: 'Stay Connected'
    kind: 'highlight'
    background: '/_resources/images/images/bg-trees.png'
    cards:
      - title: 'Attend & Engage'
        copy: 'Join us for virtual & in-person alumni events!'
        image: '/_resources/images/images/three-up-card-image-1.png'
        link: '#'
        linkcaption: 'Learn More'
      - title: 'Volunteer & Mentor'
        copy: 'Our alumni make us what we are today.'
        image: '/_resources/images/images/three-up-card-image-2.png'
        link: '#'
        linkcaption: 'Learn More'
      - title: 'Professional Dev'
        copy: 'Explore our alumni resources. '
        image: '/_resources/images/images/three-up-card-image-3.png'
        link: '#'
        linkcaption: 'Learn More'

  - name: feature-display
    title: 'Alumni Association'
    image: '/_resources/images/images/lancaster-1.png'
    thumb: '/_resources/images/images/lancaster-small-1.png'
    paragraph: '<p>The mission of the Alumni Association is to advance the welfare of the College and its alumni by engaging alumni in the life of their alma mater; fostering and strengthening the connections between and among alumni, students and the rest of the College community; and inspiring in alumni and students a lifelong sense of loyalty to, pride in and support of the College.</p>'
    align: 'top'
    ctas:
      - link: '#'
        caption: 'Learn More'

  - name: three-up-feature
    title: 'Watch, Read, Listen'
    kind: 'standard'
    cards:
      - title: 'Diplomat Digital'
        copy: 'Stay connected to F&M on your time and in your space. Explore and find opportunities for lifelong learning, professional development or just an enjoyable respite from the day-to-day.'
        image: '/_resources/images/images/three-up-card-image-4.png'
        link: '#'
        linkcaption: 'Discover More'
      - title: 'Alumni Arts Review'
        copy: 'Explore The F&M Alumni Arts Review, a printed publication with a web presence that presents literary and visual works by Franklin & Marshall alumni.'
        image: '/_resources/images/images/three-up-card-image-5.png'
        link: '#'
        linkcaption: 'Discover More'
      - title: 'Alumni Social Media'
        copy: 'Re-connect with your classmates and fellow Diplomats online! Click here to find social media links for regional chapters, classes by year, affinity groups, and more.'
        image: '/_resources/images/images/three-up-card-image-6.png'
        link: '#'
        linkcaption: 'Discover More'

  - name: feature-display
    title: 'F&M Gear'
    image: '/_resources/images/images/lancaster-1.png'
    thumb: '/_resources/images/images/lancaster-small-1.png'
    paragraph: '<p>Show your F&M pride wherever you go. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>'
    align: 'top'
    ctas:
      - link: '#'
        caption: 'Shop F&M Gear'

  - name: accordion
    title: 'Benefits'
    contents:
      - heading: 'Office of Student and Post-Graduate Development for Alumni'
        type: 'one-col'
        description: '
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        '
      - heading: 'The Alumni Auto, Home and Renter’s Insurance Programs'
        type: 'one-col'
        description: '
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        '
      - heading: 'The Alumni Health & Life Insurance Programs '
        type: 'one-col'
        description: '
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        '
      - heading: 'Request a Transcript '
        type: 'one-col'
        description: '
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        '
      - heading: 'F&M License Plate for Pennsylvania Residents  '
        type: 'one-col'
        description: '
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        '
      - heading: 'The Penn Club of New York '
        type: 'one-col'
        description: '
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        '


  - name: call-to-action
    title: 'Make Your Impact! Support F&M'
    link: '#'
    image: '/_resources/images/images/lancaster-1.png'





---

{% from "macros/component.html" import loadComponent %}

{% for component in components %}
  {{ loadComponent(component) }}
{% endfor %}
