---
layout: main.html
bodyClass: landing
components:
  - name: hero-faculty
    breadcrumbs:
    - title: Faculty & Staff
      link: '#'
    - title: John Smith
      link: '#'
    image: '/_resources/images/hero-landing-image-1.png'
    heading: 'John Smith'
    subheading: 'Director for Outreach and Career Development/STEM'
    phone: '972-548-6847'
    email: johnsmithcollin.edu
    office:
      - hours: 'M, Tuesday, Thursday&colon; 8AM–5PM'
      - hours: 'Friday&colon; 9AM–5PM'
      - hours: 'Saturday &amp; Sunday&colon; CLOSED'

  - name: wysiwyg-faculty-detail






---

{% from "macros/component.html" import loadComponent %}

{% for component in components %}
  {{ loadComponent(component) }}
{% endfor %}
