---
layout: main.html
bodyClass: landing
components:

  - name: hero-landing
    image: '/_resources/images/images/staff.png'
    heading: 'Annalisa Crannell'
    breadcrumbs:
      - title: Home
        link: '#'
      - title: About F&M
        link: '#'
      - title: 'Faculty & Staff Directory'
        link: '#'
    jobtitle: 'Associate Dean of the Faculty, Professor of Mathematics'
    backcaption: 'Back to Fields of Study - A to Z'
    backlink: '#'
    paragraph: '<strong>717-358-4222</strong><br/>
    <strong>annalisa.crannell@fandm.edu</strong></p>

    <p><br/>Office: Old Main 113<br/>

    <br/>Office Hours:<br/>
    Monday, Tuesday, Thursday: 8AM–5PM<br/>
    Friday: 9AM–5PM<br/>
    Saturday & Sunday: CLOSED
    '
    quicktitle: 'Annalisa Crannell'
    quicklinks:
      - title: 'Talks and Presentations'
        link: '#'
      - title: 'Videos'
        link: '#'
      - title: 'Writing Projects in Math Classes'
        link: '#'
      - title: 'Course Materials'
        link: '#'
      - title: 'Contact and CV'
        link: '#'

  - name: wysiwyg-article-page
    background: 'light'
    title: 'Why I Teach Mathematics'
    contentItems:
    - type: body-copy
      copy:
        - paragraph: 'I started teaching math for the very geeky reason that I love doing math, and I doubly love doing math with other people.'

        - paragraph: 'Once I got started, though, I was inspired by some amazing people to broaden my outlook.  Bob Moses (Civil Rights activist and developer of the Algebra Project) argued that a strong mathematical education is essential for economic justice.  Master teachers  Jaime Escalante and Uri Treisman transformed traditional (that is, failing) classrooms full of Latinx and African American students into communities of high-performing prowess, and in so doing they opened all our eyes to the chances to serve our own students better.  I have also learned first-hand how important it is to be willing to fail wisely, to learn from those failures, and to persevere.  I’ve come to want my role to be one that empowers all of my my students—whoever they might be and whatever background they bring—as best I can, so that they can be gritty problem solvers,  effective communicators, and adroit builders of community.'

  - name: fifty-fifty
    background: 'dark'
    title: 'Mathematical Interests'
    type1: 'fifty-fifty-type-image'
    image1: '/_resources/images/images/lancaster-1.png'
    type2: 'fifty-fifty-type-html'
    html2: '<p>I received my PhD from Brown University, writing my dissertation in the area of non-linear partial differential equations.  For many years after that, I published in  the area of discrete topological dynamical systems, with particular interest in quasi-continuous functions.</p>

    <p>But my current research is much more accessible and visual.  Together with students and with research colleauges, I ask questions about the applications of projective geometry  to perspective art:  specifically, how the heck do we project our three-dimensional world onto a two-dimensional canvas?</p>
    '

  - name: fifty-fifty
    background: 'light'
    title: 'Teaching Interests'
    type1: 'fifty-fifty-type-html'
    html1: '<p>I teach classes ranging from Calculus to Projective Geometry to Analysis, and I also enjoy including students in independent studies and research.</p>
    <p>I have two books on the mathematics of perspective art, co-authored with my friends/colleagues Marc Frantz and Fumiko Futamura:</p>
    <p>Perspective and Projective Geometry  (an IBL intro to proofs course for math majors)</p>
    <p>Viewpoints: Mathematical Perspsective and Fractal Geometry in Art (for a first year seminar</p>
    <p>My work on Writing within the Mathematics Curriculum includes numersous talks, articles, and the MAA book (coauthored with Elyn Rykken, Tommy Ratliff, and Gavin LaRose): Writing Projects for Mathematics Courses: Crushed Clowns, Cars, and Coffee to Go.</p>

    <p>I am exceedingly fond of using Inquiry Based Learning in my teaching.  Some of the worksheets I use in my class appear in these Course Materials pages.</p>

    '
    type2: 'fifty-fifty-type-image'
    image2: '/_resources/images/images/lancaster-1.png'

  - name: wysiwyg-article-page
    background: 'dark'
    title: 'Student Co-Authors'
    contentItems:
    - type: body-copy
      copy:
        - paragraph: 'I enjoy working with students.  Not all Independent Studies result in published papers, but some do.  Below are papers I have co-published with F&M students:'

        - paragraph: '• with Stephanie Douglas (&lsquo;12), &ldquo;Drawing on Desargues,&rdquo; Mathematics Intelligencer,  34:2 (2012) 7–12.<br/>
        • with M. Sohaib Alam (&lsquo;07), &ldquo;Quasicontinuous functions with totally discontinuous iterates,&rdquo; Real Analysis Exchange,  33:1 (2008) 159-164. <br/>
        • with Martina Mincheva (&lsquo;07), &ldquo;Reflections on Spheres,&rdquo; Math Horizons, (November 2007) 22–26.  <br/>
        • with Lindsay Hilbert (&lsquo;04) and Stephen May (&lsquo;04), &ldquo;Shifts of Finite Type and Fibonacci Harps&rdquo;,  Applied Math Letters, 20:2, (2007) 138–141.<br/>
        • with Jack Stewart (&lsquo;03), &ldquo;The Band around a (non)Convex Set,&rdquo;  The College Mathematics Journal, 34:5 (2003) 377–379.<br/>
        • with Brian Habecker (&lsquo;02), &ldquo;Using Fractals to Motivate Linear Algebra&rdquo;, Undergrad. Math. and its Applications, 25:1 (2004) 47–82.<br/>
        • by Melissa Shearer and Hayley Rintel (&lsquo;00), &ldquo;Math and Architecture&rdquo;,  JOMA 1:2, http://www.joma.org/ (2001).<br/>
        • with Ben Shanfelder (&lsquo;98), &ldquo;Chaotic Results for Triangular Maps of the Square,&rdquo; Mathematics Magazine, 73 (2000) 13–20.<br/> '

  - name: wysiwyg-article-page
    background: 'light'
    title: 'Professional Service'
    contentItems:
    - type: body-copy
      copy:
        - paragraph: 'I started teaching math for the very geeky reason that I love doing math, and I doubly love doing math with other people.'

        - paragraph: 'Once I got started, though, I was inspired by some amazing people to broaden my outlook.  Bob Moses (Civil Rights activist and developer of the Algebra Project) argued that a strong mathematical education is essential for economic justice.  Master teachers  Jaime Escalante and Uri Treisman transformed traditional (that is, failing) classrooms full of Latinx and African American students into communities of high-performing prowess, and in so doing they opened all our eyes to the chances to serve our own students better.  I have also learned first-hand how important it is to be willing to fail wisely, to learn from those failures, and to persevere.  I’ve come to want my role to be one that empowers all of my my students—whoever they might be and whatever background they bring—as best I can, so that they can be gritty problem solvers,  effective communicators, and adroit builders of community.<br/><br/>'


---

{% from "macros/component.html" import loadComponent %}

{% for component in components %}
  {{ loadComponent(component) }}
{% endfor %}
