---
layout: main.html
bodyClass: home
components:
  - name: hero-home
    image: '/_resources/images/home-header.gif'
    heading: 'Connected. Unexpected. Exceptional.'
    description: '
      <p class="w-10/22 body-md text-md font-normal antialiased">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
    '
    link:
      label: Learn More
      href: /

    quickLinks:
      - title: Academics
        subtitle: Explore Programs
        link: '#'
      - title: Admissions
        subtitle: Apply Now
        link: '#'
      - title: Our Campus
        subtitle: Plan Your Visit
        link: '#'

  - name: feature-cta
    subhead: Check Our Top Resources
    heading: 'Find your path at Collin.<br/>Check out our top resources.'
    tags:
      - title: Prospective Students
        subtitle: Prospective Students
        link: '#'
      - title: Dual Credit
        subtitle: Dual Credit
        link: '#'
      - title: International Students
        subtitle: International Students
        link: '#'

  - name: interactive-list
    locations:
      - title: Allen
        id: allen
        image: '/_resources/images/location-allen.png'
        sublocations:
          - title: 'Technical Campus'
            link: '#'
            address: '
            2550 Bending Branch Way<br/>
            Allen, TX 75013
            '
            google: '#'
            tel: '469-905-3590'
      - title: Celina
        id: celina
        image: '/_resources/images/location-celina.png'
        sublocations:
          - title: 'Celina Campus'
            link: '#'
            address: '
            2505 Kinship Parkway<br/>
            Celina, Texas 75009
            '
            google: '#'
            tel: '469.905.3590'
      - title: Farmersville
        id: farmersville
        image: '/_resources/images/location-farmersville.png'
        sublocations:
          - title: 'Farmersville Campus'
            link: '#'
            address: '
            2501 S. Collin Parkway<br/>
            Farmersville, TX 75442
            '
            google: '#'
            tel: '972.549.6490'
      - title: Frisco
        id: frisco
        image: '/_resources/images/location-frisco.png'
        sublocations:
          - title: 'Frisco Campus'
            link: '#'
            address: '
            9700 Wade Boulevard<br/>
            Frisco, TX 75035
            '
            google: '#'
            tel: '972.377.1790'
      - title: iCollin
        id: icollin
        image: '/_resources/images/location-icollin.png'
        sublocations:
          - title: 'iCollin Virtual Campus'
            link: '#'
            address: '
            Online
            '
            google: '#'
            tel: '972.549.6416'
      - title: McKinney
        id: mckinney
        image: '/_resources/images/location-mckinney.png'
        sublocations:
          - title: 'McKinney Campus'
            link: '#'
            address: '
            2200 West University Drive<br/>
            McKinney, Texas 75071
            '
            google: '#'
            tel: '469.905.3590'
          - title: 'Collin Higher Education Center'
            link: '#'
            address: '
            3452 Spur 399 (NE Hwy 121 & 75 Central)<br/>
            McKinney, TX 75069
            '
            google: '#'
            tel: '972-599-3100'
          - title: 'Public Safety Training Center'
            link: '#'
            address: '
            3600 Redbud Blvd.<br/>
            McKinney, Texas 75071
            '
            google: '#'
            tel: '972-548-6836'
      - title: Plano
        id: plano
        image: '/_resources/images/location-plano.png'
        sublocations:
          - title: 'Plano Campus'
            link: '#'
            address: '
            2800 E. Spring Creek Parkway<br/>
            Plano, TX 75074
            '
            google: '#'
            tel: '972.549.6416'
          - title: 'Courtyard Center'
            link: '#'
            address: '
            4800 Preston Park Boulevard<br/>
            Plano, TX 75093
            '
            google: '#'
            tel: '972.985.3790'
      - title: Rockwall
        id: rockwall
        image: '/_resources/images/location-rockwall.png'
        sublocations:
          - title: 'Rockwall Center'
            link: '#'
            address: '
            Dr. Gene Burton College & Career Academy<br/>
            301 South John King Blvd.<br/>
            Rockwall, Texas 75032
            '
            google: '#'
            tel: '469.698.7499'
      - title: Wylie
        id: wylie
        image: '/_resources/images/location-wylie.png'
        sublocations:
          - title: 'Wylie Campus'
            link: '#'
            address: '
            391 Country Club Road<br/>
            Wylie, TX 75098
            '
            google: '#'
            tel: '469.698.7499'



  - name: interactive-steps
    title: 'Four steps to <em>register</em>'
    steps:
      - title: Apply
        id: apply
        copy: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        links:
          - title: 'Admissions 1'
            link: '#'
          - title: 'Financial Aid'
            link: '#'
          - title: 'Scholarships'
            link: '#'
      - title: Remove Holds
        id: remove-holds
        copy: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        links:
          - title: 'Admissions 2'
            link: '#'
          - title: 'Financial Aid'
            link: '#'
          - title: 'Scholarships'
            link: '#'
      - title: Register
        id: register
        copy: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        links:
          - title: 'Admissions 3'
            link: '#'
          - title: 'Financial Aid'
            link: '#'
          - title: 'Scholarships'
            link: '#'
      - title: Pay
        id: pay
        copy: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        links:
          - title: 'Admissions 4'
            link: '#'
          - title: 'Financial Aid'
            link: '#'
          - title: 'Scholarships'
            link: '#'

  - name: article-feed
    title: 'In The News'
    showAll: 'true'
    articles:
      - image: '/_resources/images/news-1.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-2.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-3.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22

  - name: events-feed
    title: 'Key <i>Dates</i>'
    showAll: 'true'
    image: '#'
    dates:
      - title: 'Classes Start'
        link: '#'
        date: January 22
      - title: 'Classes Start'
        link: '#'
        date: January 22
      - title: 'Classes Start'
        link: '#'
        date: January 22
      - title: 'Classes Start'
        link: '#'
        date: January 22



---

{% from "macros/component.html" import loadComponent %}

{% for component in components %}
  {{ loadComponent(component) }}
{% endfor %}
