---
layout: main.html
bodyClass: home
components:
  - name: hero-home
    image: '/_resources/images/home-header.gif'
    heading: 'Connected. Unexpected. Exceptional.'
    description: '
      <p class="w-10/22 body-md text-md font-normal antialiased">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
    '
    link:
      label: Learn More
      href: /

    quickLinks:
      - title: Academics
        subtitle: Explore Programs
        link: '#'
      - title: Admissions
        subtitle: Apply Now
        link: '#'
      - title: Our Campus
        subtitle: Plan Your Visit
        link: '#'
  - name: hero-index
    cmsName: Index Hero
    backgroundColor: blue-light
    heading: List Title A-Z
---

{% from "macros/component.html" import loadComponent %}

{% for component in components %}
  {{ loadComponent(component) }}
{% endfor %}
