---
layout: main.html
links:

  - title: Kitchen Sink
    href: /kitchen-sink.html
  - title: Home
    href: /home.html
  - title: Program Listing
    href: /program-listing.html
  - title: News Listing
    href: /news-listing.html
  - title: News Article
    href: /news-article.html
  - title: Environmental Science (Program Detail)
    href: /program-detail.html
  - title: Applying to F&M (Program Listing)
    href: /program-listing-2.html
  - title: Alumni Connections (Audience Page)
    href: /audience-page.html
  - title: People Page (People Index)
    href: /people-page.html
  - title: Faculty & Staff (Detail Page)
    href: /faculty-staff.html
  - title: College Policies Handbook (College Policies)
    href: /college-policies.html
---

<div class="background-blue">
  <div class="container">
    <div class="p-10 md:pt-6 md:px-20 bg-white shadow-blue">
      {% for item in links %}
      <div class="py-5 border-b-2 border-blue-ash">
        <a
          class="text-24 font-regular text-blue hover:underline"
          href="{{ item.href }}"
          >{{ item.title }}</a
        >
      </div>
      {% endfor %}
    </div>
  </div>
</div>
