---
layout: main.html
bodyClass: landing
components:
  - name: hero-standard
    heading: 'Prospective Students'

    breadcrumbs:
      - title: Collin College
        link: '#'
      - title: Prospective Students
        link: '#'

  - name: cta-group
    color: white
    heading: Resources for Prospective Students
    copy: '
    Lorem sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    '

    quicklinks:
      - title: Explore Programs
        subtitle: ''
        link: '#'
      - title: Requesting Information
        subtitle: ''
        link: '#'
      - title: Apply
        subtitle: ''
        link: '#'
      - title: Tuition & Financial Aid
        subtitle: ''
        link: '#'
      - title: Program Finder
        subtitle: ''
        link: '#'
      - title: Our Locations
        subtitle: ''
        link: '#'

  - name: interactive-steps
    title: 'Four steps to <em>register</em>'
    steps:
      - title: Apply
        id: apply
        copy: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        links:
          - title: 'Admissions 1'
            link: '#'
          - title: 'Financial Aid'
            link: '#'
          - title: 'Scholarships'
            link: '#'
      - title: Remove Holds
        id: remove-holds
        copy: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        links:
          - title: 'Admissions 2'
            link: '#'
          - title: 'Financial Aid'
            link: '#'
          - title: 'Scholarships'
            link: '#'
      - title: Register
        id: register
        copy: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        links:
          - title: 'Admissions 3'
            link: '#'
          - title: 'Financial Aid'
            link: '#'
          - title: 'Scholarships'
            link: '#'
      - title: Pay
        id: pay
        copy: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        links:
          - title: 'Admissions 4'
            link: '#'
          - title: 'Financial Aid'
            link: '#'
          - title: 'Scholarships'
            link: '#'


  - name: events-feed
    title: 'Key <i>Dates</i>'
    showAll: 'true'
    image: '#'
    dates:
      - title: 'Classes Start'
        link: '#'
        date: January 22
      - title: 'Classes Start'
        link: '#'
        date: January 22
      - title: 'Classes Start'
        link: '#'
        date: January 22
      - title: 'Classes Start'
        link: '#'
        date: January 22

  - name: stat-block
    title: Collin by the Numbers
    stats:
      - numeral: 63%
        subhead: of students
        caption: Recieved Financial Aid of some kind
      - numeral: 98%
        subhead: Lorem ipsum dolor
        caption: Lorem ipsum dolor sit amet, consectetur elit, sed it amet.
      - numeral: $3,000
        subhead: Federal Student Loan debt
        caption: is the average for Collin graduating seniors in the Class of 2021

  - name: faq-block
    heading: Popular FAQs
    questions:
      - heading: How do I order my official transcript?
        answer: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '
      - heading: How do I access my unofficial transcript?
        answer: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '
      - heading: I have a hold on my transcript request. Why was my credit card charged?
        answer: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '

---

{% from "macros/component.html" import loadComponent %}

{% for component in components %}
  {{ loadComponent(component) }}
{% endfor %}
