---
layout: main.html
bodyClass: landing
components:
  - name: hero-standard
    heading: 'Academic Calendar'

    breadcrumbs:
      - title: Collin College
        link: '#'
      - title: Academic Calendar
        link: '#'

  - name: filterable
    elements:
    - type: search
      id: search
      width: '40%'
      caption: Enter Keyword
    - type: select
      id: select1
      width: '15%'
      options:
      - value: all
        caption: All Degree Levels
      - value: aa
        caption: Associate's
      - value: ba
        caption: Bachelor of Arts
      - value: bs
        caption: Bachelor of Science
      - value: ma
        caption: Master's
      - value: doc
        caption: PhD/Doctorate

    - type: select
      id: select2
      width: '15%'
      options:
      - value: interests
        caption: Interests
      - value: lorem
        caption: Lorem
      - value: ipsum
        caption: Ipsum
      - value: dolor
        caption: Dolor

    - type: select
      id: select3
      width: '15%'
      options:
      - value: locations
        caption: Locations
      - value: celina
        caption: Celina
      - value: lorem
        caption: Lorem
      - value: ipsum
        caption: Ipsum
      - caption: Dolor

    - type: submit
      id: submit
      caption: Find

  - name: academic-calendar

---

{% from "macros/component.html" import loadComponent %}

{% for component in components %}
  {{ loadComponent(component) }}
{% endfor %}
