---
layout: main.html
components:
  - name: hero-home
    image: '/_resources/images/home-header.gif'
    heading: 'Connected. Unexpected. Exceptional.'
    description: '
      <p class="w-10/22 body-md text-md font-normal antialiased">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>
    '
    link:
      label: Learn More
      href: /
    quickLinks:
    - title: Title
      subtitle: Subtitle
      link: '#'
    - title: Title2
      subtitle: Subtitle2
      link: '#'
    - title: Title3
      subtitle: Subtitle3
      link: '#'

  - name: hero-landing
    texture: '/_resources/images/hero-landing-texture-1.png'
    image: '/_resources/images/hero-landing-image-1.png'
    heading: 'Admissions & Aid'
    description: '
      <p>Together, we’ll figure out your best options so your education fits your goals and your life’s realities.</p>
    '
    breadcrumbs:
      - title: Collin College
        link: '#'
      - title: Admissions & Aid
        link: '#'

    introHead: 'Find Your Starting Point'
    introSubhead: 'Find Your Starting Point'
    introDesc: '
      <p>We believe that real-world understanding is key to your academic journey. Hands-on learning is just part of it. The result: whether you’re an undergraduate or graduate student, you’ll be better prepared for success in your career — and in life.</p>
    '
    quicklinks:
      - title: New Student
        subtitle: 'First time Collin College students'
        link: '#'
      - title: Returning on Transfering
        subtitle: 'Students with any college credit'
        link: '#'
      - title: Dual Credit
        subtitle: 'Earn high school and college credits simultaneously at Collin'
        link: '#'
      - title: International
        subtitle: 'Individuals seeking an F-1 visa'
        link: '#'
      - title: Continuing Education
        subtitle: 'Noncredit workforce and career training'
        link: '#'

    sidebarlinks:
      - title: New Student Orientation
        link: '#'
      - title: Registration
        link: '#'
      - title: Tuition
        link: '#'
      - title: Financial Aid
        link: '#'
      - title: Testing
        link: '#'

  - name: hero-standard
    heading: 'Contact Us'

    breadcrumbs:
      - title: Collin College
        link: '#'
      - title: Contact Us
        link: '#'

  - name: hero-program
    title: 'Cybersecurity'
    subtitle: 'Bachelor of Applied Technology in Cybersecurity'
    background: '/_resources/images/bg-program-detail.png'
    degree: 'Bachelors Degree'
    creditHours: 62
    heading: Cybersecurity at Collin
    copy: '
      With high-profile information breaches and identity thefts in the news regularly, the need to secure data and the systems that store it has never been more important. Play your part in keeping important information safe with a certificate or degree from Collin College&rsquo;s Information Systems Cybersecurity program.
    '
    links:
      - title: Register for Information Session
        link: '#'
        color: blue
      - title: Scholarship Opportunity
        link: '#'
        color: white
    sidebarlinks:
      - title: AAS – Information Systems Cybersecurity
        link: '#'
      - title: Certificate Level 1 – Information Systems Cybersecurity
        link: '#'
      - title: Certificate Level 1 – Cybersecurity Infrastructure Technician
        link: '#'
      - title: Bachelor of Applied Technology in Cybersecurity
        link: '#'
      - title: Cybersecurity Marketable Skills
        link: '#'
    breadcrumbs:
      - title: Collin College
        link: '#'
      - title: Academics
        link: '#'
      - title: Programs & Courses
        link: '#'
      - title: Cybersecurity
        link: '#'

  - name: hero-faculty
    breadcrumbs:
    - title: Faculty & Staff
      link: '#'
    - title: John Smith
      link: '#'
    image: '/_resources/images/bio.png'
    heading: 'John Smith'
    subheading: 'Director for Outreach and Career Development/STEM'
    phone: '972-548-6847'
    email: johnsmithcollin.edu
    office:
      - hours: 'M, Tuesday, Thursday&colon; 8AM–5PM'
      - hours: 'Friday&colon; 9AM–5PM'
      - hours: 'Saturday &amp; Sunday&colon; CLOSED'

  - name: hero-article
    heading: 'The Power of a Handwritten Note: Student Traverses the Path to a New Career'
    date: January 11, 2022
    author: Heather Darrow

    breadcrumbs:
      - title: Collin College
        link: '#'
      - title: Collin News
        link: '#'

  - name: hero-locations
    heading: 'McKinney Campus'
    breadcrumbs:
      - title: Collin College
        link: '#'
      - title: Collin College Locations
        link: '#'
      - title: McKinney Campus
        link: '#'

    introHead: 'About McKinney Campus'
    introDesc: '
      <p>Collin College&rsquo;s original campus, the McKinney Campus was transformed through a major renovation project completed in 2010. The campus features a Jeffersonian-style library, expanded classroom space, science labs and a parking structure as well as an expanded Student & Enrollment Services area. In fall of 2015, the campus welcomed a new 23,500 square foot conference center, and in spring 2016, the McKinney Campus was honored to host a ribbon cutting for its newest state-of-the-art facility, the Cary A. Israel Health Sciences Center.</p>
    '


  - name: filterable
    elements:
    - type: search
      id: search
      width: '40%'
      caption: Enter Keyword
    - type: select
      id: select1
      width: '15%'
      options:
      - value: all
        caption: All Degree Levels
      - value: aa
        caption: Associate's
      - value: ba
        caption: Bachelor of Arts
      - value: bs
        caption: Bachelor of Science
      - value: ma
        caption: Master's
      - value: doc
        caption: PhD/Doctorate

    - type: select
      id: select2
      width: '15%'
      options:
      - value: interests
        caption: Interests
      - value: lorem
        caption: Lorem
      - value: ipsum
        caption: Ipsum
      - value: dolor
        caption: Dolor

    - type: select
      id: select3
      width: '15%'
      options:
      - value: locations
        caption: Locations
      - value: celina
        caption: Celina
      - value: lorem
        caption: Lorem
      - value: ipsum
        caption: Ipsum
      - caption: Dolor

    - type: submit
      id: submit
      caption: Find



  - name: article-feed
    title: 'In The News'
    showAll: 'true'
    articles:
      - image: '/_resources/images/news-1.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-2.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-3.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22

  - name: article-feed
    pagination: 'true'
    articles:
      - image: '/_resources/images/news-1.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-2.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-3.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-1.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-2.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-3.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22


  - name: events-feed
    title: 'Key <em>Dates</em>'
    showAll: 'true'
    image: '#'
    dates:
      - title: 'Classes Start'
        link: '#'
        date: January 22
      - title: 'Classes Start'
        link: '#'
        date: January 22
      - title: 'Classes Start'
        link: '#'
        date: January 22
      - title: 'Classes Start'
        link: '#'
        date: January 22

  - name: staff-grid
    people:
      - name: First and Last Name
        titleLocation: 'Cybersecurity Professor, McKinney Campus'
        phone: '972.548.6847'
        email: 'firstname@collincollege.edu'
        tags:
          - title: 'Full-Time'
          - title: McKinney Campus
        image: '/_resources/images/bio.png'
      - name: First and Last Name
        titleLocation: 'Cybersecurity Professor, McKinney Campus'
        phone: '972.548.6847'
        email: 'firstname@collincollege.edu'
        tags:
          - title: 'Full-Time'
          - title: McKinney Campus
        image: '/_resources/images/bio.png'
      - name: First and Last Name
        titleLocation: 'Cybersecurity Professor, McKinney Campus'
        phone: '972.548.6847'
        email: 'firstname@collincollege.edu'
        tags:
          - title: 'Full-Time'
          - title: McKinney Campus
        image: '/_resources/images/bio.png'


  - name: staff-grid
    people:
      - name: First and Last Name
        titleLocation: 'Cybersecurity Professor, McKinney Campus'
        phone: '972.548.6847'
        email: 'firstname@collincollege.edu'
        tags:
          - title: 'Full-Time'
          - title: McKinney Campus
      - name: First and Last Name
        titleLocation: 'Cybersecurity Professor, McKinney Campus'
        phone: '972.548.6847'
        email: 'firstname@collincollege.edu'
        tags:
          - title: 'Full-Time'
          - title: McKinney Campus
      - name: First and Last Name
        titleLocation: 'Cybersecurity Professor, McKinney Campus'
        phone: '972.548.6847'
        email: 'firstname@collincollege.edu'
        tags:
          - title: 'Full-Time'
          - title: McKinney Campus


  - name: course-listing
    entries:
      - title: Accounting
        id: account1
        programs:
          - title: Lorem Ipsum Dolor
            path: Enter The Workforce, Enhance My Skillset
          - title: Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing
            path: Transfer, Advance My Career
          - title: Lorem Ipsum Dolor Sit
            path: Bachelor's Degree
      - title: Activity Care Professional
        id: activity1
        programs:
          - title: Lorem Ipsum Dolor
            path: Enter The Workforce, Enhance My Skillset
          - title: Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing
            path: Transfer, Advance My Career
          - title: Lorem Ipsum Dolor Sit
            path: Bachelor's Degree
      - title: Accounting
        id: account2
        programs:
          - title: Lorem Ipsum Dolor
            path: Enter The Workforce, Enhance My Skillset
          - title: Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing
            path: Transfer, Advance My Career
          - title: Lorem Ipsum Dolor Sit
            path: Bachelor's Degree
      - title: Activity Care Professional
        id: activity2
        programs:
          - title: Lorem Ipsum Dolor
            path: Enter The Workforce, Enhance My Skillset
          - title: Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing
            path: Transfer, Advance My Career
          - title: Lorem Ipsum Dolor Sit
            path: Bachelor's Degree
      - title: Accounting
        id: account3
        programs:
          - title: Lorem Ipsum Dolor
            path: Enter The Workforce, Enhance My Skillset
          - title: Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing
            path: Transfer, Advance My Career
          - title: Lorem Ipsum Dolor Sit
            path: Bachelor's Degree
      - title: Activity Care Professional
        id: activity3
        programs:
          - title: Lorem Ipsum Dolor
            path: Enter The Workforce, Enhance My Skillset
          - title: Lorem Ipsum Dolor Sit Amet Consectetur Adipiscing
            path: Transfer, Advance My Career
          - title: Lorem Ipsum Dolor Sit
            path: Bachelor's Degree


  - name: fifty-fifty
    blockbg: white
    copybg: tan
    image: '/_resources/images/fifty-fifty.png'
    imageAlign: 'left'
    heading: Allen
    copy: '
    Students at the Technical Campus will benefit from state-of-the-art equipment and instruction as they pursue high-skill, high-demand careers in growing fields like construction, automotive, collision repair, HVAC, health care, manufacturing, welding and more. The facility serves as a comprehensive campus, allowing traditional and dual credit students to attain workforce and transfer degrees.
    '
    isLocation: true
    locations:
      - title: Technical Campus
        link: '#'
        address: '
        2550 Bending Branch Way<br/>
        Allex, TX 75013
        '
        phone: 972-553-1290


  - name: fifty-fifty
    blockbg: blue
    copybg: white
    image: '/_resources/images/fifty-fifty.png'
    imageAlign: 'right'
    heading: Celina
    copy: '
    Scheduled to open to the public in Fall 2021, the Collin College Celina Campus will provide great access to quality higher education for northwestern Collin County. The first phase of the campus will be 96,000 square feet and will support 2,500 students.<br/>
    <br/>
    The campus will offer academic transfer courses as well as business management, computer-aided drafting and design, information technology, and health sciences.
    '
    isLocation: true
    locations:
      - title: Celina Campus
        link: '#'
        address: '
        2550 Kinship Parkway<br/>
        Celina, TX 75009
        '
        phone: 972-553-1290

  - name: fifty-fifty
    blockbg: white
    copybg: tan
    image: '/_resources/images/fifty-fifty.png'
    imageAlign: 'left'
    heading: Farmersville
    copy: '
    Scheduled to open to the public in March 2021, the Collin College Farmersville Campus will provide convenient access to higher education facilities for the residents of Farmersville and eastern Collin County. The first building, an approximately 52,000-square-foot facility, is designed to accommodate 1,250 learners.
    '
    isLocation: true
    locations:
      - title: Farmersville Campus
        link: '#'
        address: '
        2501 S. Collin Parkway<br/>
        Farmersville, TX 75442
        '
        phone: 972-553-1290

  - name: fifty-fifty
    blockbg: blue
    copybg: white
    image: '/_resources/images/fifty-fifty.png'
    imageAlign: 'right'
    heading: Frisco
    copy: '
    Set along the historic Shawnee Trail, the Frisco Campus is the second largest Collin campus with over 8,500 students. Students can take advantage of unique programs and amenities that foster exploration, collaboration, and critical thinking. The campus houses the award-winning Institute of Hospitality and Culinary Education (IHCE), the National Convergence Technology Center (CTC), an impressive conference center, and a university-style central quad.
    '
    isLocation: true
    locations:
      - title: Frisco Campus
        link: '#'
        address: '
        2501 S. Collin Parkway<br/>
        Farmersville, TX 75442
        '
        phone: 972-553-1290

  - name: fifty-fifty
    blockbg: white
    copybg: tan
    image: '/_resources/images/fifty-fifty.png'
    imageAlign: 'left'
    heading: Why Collin
    copy: '
    With over XX areas of study, eleven vibrant campuses and an abundance of student resources, discover why Collin is the place for you to build your momentum.
    '
    linktitle: Download Viewbook
    link: '#'

  - name: fifty-fifty
    blockbg: white
    copybg: blue
    buttonbg: white
    image: '/_resources/images/fifty-fifty.png'
    imageAlign: 'right'
    heading: Entry-level Career Opportunities in Cybersecurity
    copy: '
    <ul>
      <li>Security Analyst</li>
      <li>Security Architect</li>
      <li>Security Engineer</li>
      <li>Security Administrator</li>
      <li>Incident Analyst/Responder</li>
      <li>Penetration & Vulnerability Tester</li>
    </ul>
    '
    links:
      - title: Cta
        link: '#'
      - title: Job Search Platform
        link: '#'

  - name: feature-story
    title: Student Spotlight
    heading: First Last Name
    subhead: Class of '23
    body: '
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam non elementum id nibh et est, lorem est vel. Elementum maecenas aenean nulla elit lectus. Platea sit ut in arcu nibh. Eu pretium iaculis neque pellentesque pellentesque id tristique nisl eget. Pharetra eleifend tellus porta sit. Felis feugiat integer a, amet, lacus cursus eget integer. Eget pulvinar eu nunc convallis fermentum. Cras fermentum ornare lectus at feugiat pellentesque scelerisque sed.
    '
    link: '#'
    linktitle: Read More
    image: '/_resources/images/feature-story.png'
    imageAlign: right

  - name: testimonial
    quote: 'This is a student or faculty quote, lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.'
    image: '/_resources/images/feature-story.png'
    author: First and Last Name
    yearStudy: Graduation Year & Study

  - name: testimonial
    quote: 'This is a student or faculty quote, lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.'
    author: First and Last Name
    yearStudy: Graduation Year & Study



  - name: interactive-steps
    title: 'Four steps to <em>register</em>'
    steps:
      - title: Apply
        id: apply
        copy: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        links:
          - title: 'Admissions 1'
            link: '#'
          - title: 'Financial Aid'
            link: '#'
          - title: 'Scholarships'
            link: '#'
      - title: Remove Holds
        id: remove-holds
        copy: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        links:
          - title: 'Admissions 2'
            link: '#'
          - title: 'Financial Aid'
            link: '#'
          - title: 'Scholarships'
            link: '#'
      - title: Register
        id: register
        copy: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        links:
          - title: 'Admissions 3'
            link: '#'
          - title: 'Financial Aid'
            link: '#'
          - title: 'Scholarships'
            link: '#'
      - title: Pay
        id: pay
        copy: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        links:
          - title: 'Admissions 4'
            link: '#'
          - title: 'Financial Aid'
            link: '#'
          - title: 'Scholarships'
            link: '#'

  - name: interactive-list
    locations:
      - title: Allen
        id: allen
        image: '/_resources/images/location-allen.png'
        alt: Allen Campus
        sublocations:
          - title: 'Technical Campus'
            link: '#'
            address: '
            2550 Bending Branch Way<br/>
            Allen, TX 75013
            '
            google: '#'
            tel: '469-905-3590'
      - title: Celina
        id: celina
        image: '/_resources/images/location-celina.png'
        alt: Celina Campus
        sublocations:
          - title: 'Celina Campus'
            link: '#'
            address: '
            2505 Kinship Parkway<br/>
            Celina, Texas 75009
            '
            google: '#'
            tel: '469.905.3590'
      - title: Farmersville
        id: farmersville
        alt: Farmersville Campus
        image: '/_resources/images/location-farmersville.png'
        sublocations:
          - title: 'Farmersville Campus'
            link: '#'
            address: '
            2501 S. Collin Parkway<br/>
            Farmersville, TX 75442
            '
            google: '#'
            tel: '972.549.6490'
      - title: Frisco
        id: frisco
        alt: Frisco Campus
        image: '/_resources/images/location-frisco.png'
        sublocations:
          - title: 'Frisco Campus'
            link: '#'
            address: '
            9700 Wade Boulevard<br/>
            Frisco, TX 75035
            '
            google: '#'
            tel: '972.377.1790'
      - title: iCollin
        id: icollin
        image: '/_resources/images/location-icollin.png'
        alt: iCollin Campus
        sublocations:
          - title: 'iCollin Virtual Campus'
            link: '#'
            address: '
            Online
            '
            google: '#'
            tel: '972.549.6416'
      - title: McKinney
        id: mckinney
        alt: McKinney Campus
        image: '/_resources/images/location-mckinney.png'
        sublocations:
          - title: 'McKinney Campus'
            link: '#'
            address: '
            2200 West University Drive<br/>
            McKinney, Texas 75071
            '
            google: '#'
            tel: '469.905.3590'
          - title: 'Collin Higher Education Center'
            link: '#'
            address: '
            3452 Spur 399 (NE Hwy 121 & 75 Central)<br/>
            McKinney, TX 75069
            '
            google: '#'
            tel: '972-599-3100'
          - title: 'Public Safety Training Center'
            link: '#'
            address: '
            3600 Redbud Blvd.<br/>
            McKinney, Texas 75071
            '
            google: '#'
            tel: '972-548-6836'
      - title: Plano
        id: plano
        alt: Plano Campus
        image: '/_resources/images/location-plano.png'
        sublocations:
          - title: 'Plano Campus'
            link: '#'
            address: '
            2800 E. Spring Creek Parkway<br/>
            Plano, TX 75074
            '
            google: '#'
            tel: '972.549.6416'
          - title: 'Courtyard Center'
            link: '#'
            address: '
            4800 Preston Park Boulevard<br/>
            Plano, TX 75093
            '
            google: '#'
            tel: '972.985.3790'
      - title: Rockwall
        id: rockwall
        alt: Rockwall Campus
        image: '/_resources/images/location-rockwall.png'
        sublocations:
          - title: 'Rockwall Center'
            link: '#'
            address: '
            Dr. Gene Burton College & Career Academy<br/>
            301 South John King Blvd.<br/>
            Rockwall, Texas 75032
            '
            google: '#'
            tel: '469.698.7499'
      - title: Wylie
        id: wylie
        alt: Wylie Campuss
        image: '/_resources/images/location-wylie.png'
        sublocations:
          - title: 'Wylie Campus'
            link: '#'
            address: '
            391 Country Club Road<br/>
            Wylie, TX 75098
            '
            google: '#'
            tel: '469.698.7499'

  - name: two-up
    title: Questions
    ctas:
      - title: Call to action description or details lorem ipsum dolor.
        image: '/_resources/images/feature-story.png'
        link: '#'
        linkTitle: Contact Us
      - title: Call to action description or details lorem ipsum dolor.
        image: '/_resources/images/feature-story.png'
        link: '#'
        linkTitle: FAQs


  - name: three-up
    link: '#'
    linkTitle: Check Out Our Program Finder
    ctas:
      - title: Our Degrees
        copy: 'We offer a career-focused curriculum. Tell us your interests and goals, and we’ll help guide you in the right direction.'
        icon: degree
      - title: Career-Focused
        copy: 'Are you aiming to launch, advance, or switch your career path? From certificate programs to master’s degrees, we can help you get there.'
        icon: climb
      - title: Where to Study
        copy: 'We offer classes on campus and online. Whichever way you choose to study, you will have the same supportive experience.'
        icon: area


  - name: four-up
    heading: 'Lorem ipsum dolor sit amet consectetur'
    image: '/_resources/images/four-up.png'
    ctas:
      - title: How to Apply
        copy: 'We’ll walk you through the process. Our goal is to navigate all financial opportunities so you benefit in every way possible. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        icon: how-apply
        link: '#'
        linktitle: Get Started
      - title: Tuition & Fees
        copy: 'It is our mission to provide and affordable education and help get you started in your career. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        icon: tuition-fees
        link: '#'
        linktitle: Find Costs
      - title: Financial Aid
        copy: 'Your financial aid counselor will help you take advantage of every grant or scholarship available to you. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        icon: financial-aid
        link: '#'
        linktitle: Learn How
      - title: Visit Us
        copy: 'A great way to decide whether Collin is the school for you is to visit one of our campuses. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
        icon: visit-us
        link: '#'
        linktitle: Get the Experience


  - name: stat-block
    title: Collin by the Numbers
    stats:
      - numeral: 63%
        subhead: of students
        caption: Recieved Financial Aid of some kind
      - numeral: 98%
        subhead: Lorem ipsum dolor
        caption: Lorem ipsum dolor sit amet, consectetur elit, sed it amet.
      - numeral: $3,000
        subhead: Federal Student Loan debt
        caption: is the average for Collin graduating seniors in the Class of 2021

  - name: feature-cta
    subhead: Check Our Top Resources
    heading: 'Find your path at Collin.<br/>Check out our top resources.'
    tags:
      - title: Prospective Students
        subtitle: Prospective Students
        link: '#'
      - title: Dual Credit
        subtitle: Dual Credit
        link: '#'
      - title: International Students
        subtitle: International Students
        link: '#'

  - name: cta-large
    title: 'How to Check Your <em>Application Status</em>'
    copy: ''
    link: '#'
    linktitle: See How


  - name: cta-group
    color: white
    heading: Resources for Prospective Students
    copy: '
    Lorem sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    '

    quicklinks:
      - title: Explore Programs
        subtitle: ''
        link: '#'
      - title: Requesting Information
        subtitle: ''
        link: '#'
      - title: Apply
        subtitle: ''
        link: '#'
      - title: Tuition & Financial Aid
        subtitle: ''
        link: '#'
      - title: Program Finder
        subtitle: ''
        link: '#'
      - title: Our Locations
        subtitle: ''
        link: '#'

  - name: cta-group
    color: blue
    heading: Resources for Prospective Students
    copy: '
    Lorem sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    '

    quicklinks:
      - title: Explore Programs
        subtitle: ''
        link: '#'
      - title: Requesting Information
        subtitle: ''
        link: '#'
      - title: Apply
        subtitle: ''
        link: '#'
      - title: Tuition & Financial Aid
        subtitle: ''
        link: '#'
      - title: Program Finder
        subtitle: ''
        link: '#'
      - title: Our Locations
        subtitle: ''
        link: '#'

  - name: directory
    title: Directory
    color: tan
    entries:
      - heading: Academic Advising
        large: One Dent Drive
        small: '
          <p>E: <a href="mailto:admissions@collin.edu">admissions@collin.edu</a></p>
          <p>P: <a href="tel:5705773000">(570) 577-3000</a></p>
          <br/>
          <p>Monday–Friday: 8:30AM–4:30PM</p>
          <p>Saturday: Varies</p>
          <p>Sunday: CLOSED
        '
        bottom: '
          <a href="#">Student and Enrollment Services Offices</a>
        '

      - heading: Admissions
        large: One Dent Drive
        small: '
          <p>E: <a href="mailto:admissions@collin.edu">admissions@collin.edu</a></p>
          <p>P: <a href="tel:5705773000">(570) 577-3000</a></p>
          <br/>
          <p>Monday–Friday: 8:30AM–4:30PM</p>
          <p>Saturday: Varies</p>
          <p>Sunday: CLOSED
        '
        bottom: '
          <a href="#">Student and Enrollment Services Offices</a>
        '

      - heading: Financial Aid
        large: One Dent Drive
        small: '
          <p>E: <a href="mailto:admissions@collin.edu">admissions@collin.edu</a></p>
          <p>P: <a href="tel:5705773000">(570) 577-3000</a></p>
          <br/>
          <p>Monday–Friday: 8:30AM–4:30PM</p>
          <p>Saturday: Varies</p>
          <p>Sunday: CLOSED
        '
        bottom: '
          <a href="#">Student and Enrollment Services Offices</a>
        '

  - name: directory
    title: Directory
    color: blue
    entries:
      - heading: Academic Advising
        large: One Dent Drive
        small: '
          <p>E: <a href="mailto:admissions@collin.edu">admissions@collin.edu</a></p>
          <p>P: <a href="tel:5705773000">(570) 577-3000</a></p>
          <br/>
          <p>Monday–Friday: 8:30AM–4:30PM</p>
          <p>Saturday: Varies</p>
          <p>Sunday: CLOSED
        '
        bottom: '
          <a href="#">Student and Enrollment Services Offices</a>
        '

      - heading: Admissions
        large: One Dent Drive
        small: '
          <p>E: <a href="mailto:admissions@collin.edu">admissions@collin.edu</a></p>
          <p>P: <a href="tel:5705773000">(570) 577-3000</a></p>
          <br/>
          <p>Monday–Friday: 8:30AM–4:30PM</p>
          <p>Saturday: Varies</p>
          <p>Sunday: CLOSED
        '
        bottom: '
          <a href="#">Student and Enrollment Services Offices</a>
        '

      - heading: Financial Aid
        large: One Dent Drive
        small: '
          <p>E: <a href="mailto:admissions@collin.edu">admissions@collin.edu</a></p>
          <p>P: <a href="tel:5705773000">(570) 577-3000</a></p>
          <br/>
          <p>Monday–Friday: 8:30AM–4:30PM</p>
          <p>Saturday: Varies</p>
          <p>Sunday: CLOSED
        '
        bottom: '
          <a href="#">Student and Enrollment Services Offices</a>
        '


  - name: accordion-block
    color: tan
    heading: '<em>Admission &amp; Applying</em> to the BAT-Cybersecurity Program'
    contents:
      - heading: How do I order my official transcript?
        description: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '
      - heading: How do I access my unofficial transcript?
        description: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '
      - heading: I have a hold on my transcript request. Why was my credit card charged?
        description: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '
    buttons:
      - title: Admissions Process
        link: '#'

  - name: accordion-block
    color: white
    heading: 'Program Curriculum'
    contents:
      - heading: First Year
        description: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '
      - heading: Second Year
        description: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '
      - heading: Third Year
        description: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '
      - heading: Fourth Year
        description: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '
  - name: academic-calendar


  - name: wysiwyg-article-page
    contentItems:
      - type: full-width-image
        image: '/_resources/images/hero-article-page.png'
      - type: body-copy
        copy:
          - paragraph: '
            <span class="dropcap">O</span>n the days when she needs inspiration Kristen Ostertag opens her wallet and pulls out a handwritten note. The words she reads are her own. They are the reason she decided to go to college, change careers, and never look back.
            '
          - paragraph: '
            A mother of three teenagers, Kristen enjoyed her job as the director of advocacy and finance manager for a local domestic violence shelter. However, at the beginning of the pandemic she was reminded that there aren’t any guarantees in life. She felt called to become a nurse but decided to earn a medical assisting certificate first.
            '
          - paragraph: '
            During an online Collin College medical assisting program interview, she wrote the words, “I really want this,” and tucked the note in her wallet.
            '
          - paragraph: '
            “It was scary to walk away from a career that was successful,” Kristen said. “It was only because of the support of my husband that I could. Since that moment I’ve been all in. It was a no-brainer to select a program that could give me so many certification options.”
            '
          - paragraph: '
            According to Kimberly Gentry, professor of Medical Assisting Advanced Practice, the college’s Medical Assisting Advanced Practice program offers hands-on training and skills that prepare students to work in physicians’ offices, urgent care facilities, and hospitals. Students can choose to enroll in the 10-month certificate program or the two-year associate of applied science degree.
            '
          - paragraph: '
            “One unique feature of this program is that it is an advanced practice program, allowing students to take multiple credentialing exams and  increase their marketability to employers,” Kimberly said. “In addition to the Registered Medical Assistant (RMA) certification, students may become credentialed as Certified Phlebotomy Technicians (CPT), Electrocardiography (EKG) Technicians, and Medical Scribes.”
            '
  - name: video
    subtitle: Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
    youtube: 'https://www.youtube.com/watch?v=LzUGMXe0tQw&ab_channel=CollinCollege'

---

{% from "macros/component.html" import loadComponent %}

{% for component in components %}
  {{ loadComponent(component) }}
{% endfor %}
