---
layout: main.html
bodyClass: landing
components:
  - name: hero-landing
    texture: '/_resources/images/hero-landing-texture-1.png'
    image: '/_resources/images/hero-landing-image-1.png'
    heading: 'Academics'
    description: '
      <p>We believe that real-world understanding is key to your academic journey.</p>
    '
    breadcrumbs:
      - title: Collin College
        link: '#'
      - title: Academics
        link: '#'

    introHead: 'Find Your Starting Point'
    introSubhead: 'Find Your Starting Point'
    introDesc: '
      <p>We believe that real-world understanding is key to your academic journey. Hands-on learning is just part of it. The result: whether you’re an undergraduate or graduate student, you’ll be better prepared for success in your career — and in life.</p>
    '
    quicklinks:
      - title: New Student
        subtitle: 'First time Collin College students'
        link: '#'
      - title: Dual Credit
        subtitle: 'Earn high school and college credits simultaneously at Collin'
        link: '#'
      - title: Returning on Transfering
        subtitle: 'Students with any college credit'
        link: '#'
      - title: International
        subtitle: 'Individuals seeking an F-1 visa'
        link: '#'
      - title: Continuing Education
        subtitle: 'Noncredit workforce and career training'
        link: '#'

    sidebarlinks:
      - title: New Student Orientation
        link: '#'
      - title: Registration
        link: '#'
      - title: Tuition
        link: '#'
      - title: Financial Aid
        link: '#'
      - title: Testing
        link: '#'

  - name: three-up
    link: '#'
    linkTitle: Check Out Our Program Finder
    ctas:
      - title: Our Degrees
        copy: 'We offer a career-focused curriculum. Tell us your interests and goals, and we’ll help guide you in the right direction.'
        icon: degree
      - title: Career-Focused
        copy: 'Are you aiming to launch, advance, or switch your career path? From certificate programs to master’s degrees, we can help you get there.'
        icon: climb
      - title: Where to Study
        copy: 'We offer classes on campus and online. Whichever way you choose to study, you will have the same supportive experience.'
        icon: area

  - name: testimonial
    quote: 'This is a student or faculty quote, lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.'
    image: '/_resources/images/feature-story.png'
    author: First and Last Name
    yearStudy: Graduation Year & Study

  - name: cta-large
    title: 'Apply Now'
    copy: 'Call to action description or details lorem ipsum dolor.'
    link: '#'
    linktitle: Explore Options

  - name: two-up
    title: Questions
    ctas:
      - title: Call to action description or details lorem ipsum dolor.
        image: '/_resources/images/feature-story.png'
        link: '#'
        linkTitle: Contact Us
      - title: Call to action description or details lorem ipsum dolor.
        image: '/_resources/images/feature-story.png'
        link: '#'
        linkTitle: FAQs

---

{% from "macros/component.html" import loadComponent %}

{% for component in components %}
  {{ loadComponent(component) }}
{% endfor %}
