---
layout: main.html
bodyClass: landing
components:
  - name: hero-standard
    heading: 'Collin News'

    breadcrumbs:
      - title: Collin College
        link: '#'
      - title: Collin News
        link: '#'

  - name: filterable
    elements:
    - type: search
      id: search
      width: '40%'
      caption: Enter Keyword
    - type: select
      id: select1
      width: '15%'
      options:
      - value: all
        caption: All Degree Levels
      - value: aa
        caption: Associate's
      - value: ba
        caption: Bachelor of Arts
      - value: bs
        caption: Bachelor of Science
      - value: ma
        caption: Master's
      - value: doc
        caption: PhD/Doctorate

    - type: select
      id: select2
      width: '15%'
      options:
      - value: interests
        caption: Interests
      - value: lorem
        caption: Lorem
      - value: ipsum
        caption: Ipsum
      - value: dolor
        caption: Dolor

    - type: select
      id: select3
      width: '15%'
      options:
      - value: locations
        caption: Locations
      - value: celina
        caption: Celina
      - value: lorem
        caption: Lorem
      - value: ipsum
        caption: Ipsum
      - caption: Dolor

    - type: submit
      id: submit
      caption: Find

  - name: feature-story
    title: Featured News
    heading: 'Collin County Farm Bureau Signs $30,000 Endowment Agreement with Collin College Foundation'
    subhead: Jan 22
    body: '
    Jan. 24, 2022 – Representatives from the Collin County Farm Bureau recently donated $30,000 to the Collin College Foundation for an endowed scholarship in memory of long-time board member Butch Aycock.
    '
    link: '#'
    linktitle: Read More
    image: '/_resources/images/feature-story.png'
    imageAlign: right

  - name: article-feed
    pagination: 'true'
    articles:
      - image: '/_resources/images/news-1.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-2.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-3.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-1.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-2.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-3.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-1.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-2.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-3.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-1.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-2.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-3.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-1.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-2.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22
      - image: '/_resources/images/news-3.png'
        title: '<p>Recreating the Abstract: Professor Honored for Decades of Music Education</p>'
        link: '#'
        month: Jan
        date: 22


---

{% from "macros/component.html" import loadComponent %}

{% for component in components %}
  {{ loadComponent(component) }}
{% endfor %}
