---
layout: main.html
components:
  - name: hero-program
    title: 'Cybersecurity'
    subtitle: 'Bachelor of Applied Technology in Cybersecurity'
    background: '/_resources/images/bg-program-detail.png'
    degree: 'Bachelors Degree'
    creditHours: 62
    heading: Cybersecurity at Collin
    copy: '
      With high-profile information breaches and identity thefts in the news regularly, the need to secure data and the systems that store it has never been more important. Play your part in keeping important information safe with a certificate or degree from Collin College&rsquo;s Information Systems Cybersecurity program.
    '
    links:
      - title: Register for Information Session
        link: '#'
        color: blue
      - title: Scholarship Opportunity
        link: '#'
        color: white
    sidebarlinks:
      - title: AAS – Information Systems Cybersecurity
        link: '#'
      - title: Certificate Level 1 – Information Systems Cybersecurity
        link: '#'
      - title: Certificate Level 1 – Cybersecurity Infrastructure Technician
        link: '#'
      - title: Bachelor of Applied Technology in Cybersecurity
        link: '#'
      - title: Cybersecurity Marketable Skills
        link: '#'
    breadcrumbs:
      - title: Collin College
        link: '#'
      - title: Academics
        link: '#'
      - title: Programs & Courses
        link: '#'
      - title: Cybersecurity
        link: '#'

  - name: cta-group
    color: blue
    heading: Resources for Prospective Students
    copy: '
    Lorem sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    '

    quicklinks:
      - title: Explore Programs
        subtitle: ''
        link: '#'
      - title: Requesting Information
        subtitle: ''
        link: '#'
      - title: Apply
        subtitle: ''
        link: '#'
      - title: Tuition & Financial Aid
        subtitle: ''
        link: '#'
      - title: Program Finder
        subtitle: ''
        link: '#'
      - title: Our Locations
        subtitle: ''
        link: '#'

  - name: accordion-block
    color: tan
    heading: '<i>Admission &amp; Applying</i> to the BAT-Cybersecurity Program'
    contents:
      - heading: How do I order my official transcript?
        description: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '
      - heading: How do I access my unofficial transcript?
        description: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '
      - heading: I have a hold on my transcript request. Why was my credit card charged?
        description: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '
    buttons:
      - title: Admissions Process
        link: '#'

  - name: accordion-block
    color: white
    heading: 'Program Curriculum'
    contents:
      - heading: First Year
        description: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '
      - heading: Second Year
        description: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '
      - heading: Third Year
        description: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '
      - heading: Fourth Year
        description: '
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        '

  - name: fifty-fifty
    blockbg: white
    copybg: blue
    buttonbg: white
    image: '/_resources/images/fifty-fifty.png'
    imageAlign: 'right'
    heading: Entry-level Career Opportunities in Cybersecurity
    copy: '
    <ul>
      <li>Security Analyst</li>
      <li>Security Architect</li>
      <li>Security Engineer</li>
      <li>Security Administrator</li>
      <li>Incident Analyst/Responder</li>
      <li>Penetration & Vulnerability Tester</li>
    </ul>
    '
    links:
      - title: Cta
        link: '#'
      - title: Job Search Platform
        link: '#'

  - name: fifty-fifty
    blockbg: white
    copybg: tan
    buttonbg: blue
    image: '/_resources/images/fifty-fifty.png'
    imageAlign: 'left'
    heading: One of the fastest growing, high-paid career fields.
    copy: '
    <p>Are you ready? Prepare yourself to be an offensive and defensive player to protect the cyber world. For a live look at how fast paced this field can be we’ve curated a cyber attack map.</p>
    '
    links:
    - title: Cyber Attack Map
      link: '#'

  - name: feature-story
    title: Student Spotlight
    heading: First Last Name
    subhead: Class of '23
    body: '
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam non elementum id nibh et est, lorem est vel. Elementum maecenas aenean nulla elit lectus. Platea sit ut in arcu nibh. Eu pretium iaculis neque pellentesque pellentesque id tristique nisl eget. Pharetra eleifend tellus porta sit. Felis feugiat integer a, amet, lacus cursus eget integer. Eget pulvinar eu nunc convallis fermentum. Cras fermentum ornare lectus at feugiat pellentesque scelerisque sed.
    '
    link: '#'
    linktitle: Read More
    image: '/_resources/images/feature-story.png'
    imageAlign: right

  - name: cta-large
    title: 'Let’s get started with <i>your path in Cybersecurity!</i>'
    link: '#'
    linktitle: Explore Options

---

{% from "macros/component.html" import loadComponent %}

{% for component in components %}
  {{ loadComponent(component) }}
{% endfor %}
