---
layout: main.html
bodyClass: landing
components:

  - name: hero-landing
    image: '/_resources/images/images/bg-program-listing.png'
    heading: 'Environmental Science'
    breadcrumbs:
      - title: Home
        link: '#'
      - title: Academics
        link: '#'
      - title: 'Fields of Study - A to Z'
        link: '#'
      - title: 'Environmental Science'
        link: '#'
    backcaption: 'Back to Fields of Study - A to Z'
    backlink: '#'
    subheading: 'Make the Earth Your Classroom'
    paragraph: 'Do you want to leave the earth better than you found it? Environmental science will give you the necessary scientific foundation you need to study the earth and understand the dynamics between humans and our environment.
    '
    quicktitle: 'Environmental Science'
    quicklinks:
      - title: 'Request More Information'
        link: '#'
      - title: 'Scholarships'
        link: '#'
      - title: 'Course Catalog (PDF)'
        link: '#'
      - title: 'Apply Now'
        link: '#'


  - name: accordion
    title: 'About the Program'
    contents:
      - heading: 'Our Program & Courses'
        type: 'two-col'
        description: '
        <p>Environmental science is a major and minor at F&M. You will study the environment through a blended lens of biology, chemistry, and geology. This program will prepare you to evaluate and address key environmental problems by helping you develop critical, science-based decision-making skills. Your learning won’t take place in the classroom alone; it’s only fitting to study environmental science by venturing out into the environment itself. You’ll engage in exciting hands-on outdoor learning; dive into your findings in the lab; and embark on independent and collaborative research—all while utilizing F&M’s cutting-edge field, laboratory, and computing equipment.</p>
        <img src="/_resources/images/images/bg-program-listing.png">
        <strong>By the time you graduate, you will:</strong>
        <ul>
          <li>Have developed an understanding of the environment rooted in the fields of biology, chemistry, and geology</li>
          <li>Understand the interactions between humans and natural environmental systems in the past, present, and future</li>
          <li>Be able to describe various indicators of environmental change, including global, regional and local change (including climate change); water and air quality; ecosystem resilience; biodiversity; natural resource use; and human population</li>
          <li>Develop critical, science-based decision-making to help you understand and improve environmental issues such as land use; the conservation of endangered species; habitat degradation; the impacts of global change on animals, plants, and humans; water and energy resources; and pollution</li>
          <li>Evaluate real-world applications of scientific analysis to study environmental challenges, and understand how such analyses inform policy responses to human-induced environmental change</li>
        </ul>
        <p>Curious what environmental studies classes are like? <a href="#">Take a look at our course catalog</a> to see the depth and breadth of what’s available to you.</p>
        '
        buttons:
          - title: Learn More
            link: '#'

      - heading: 'Our Faculty & Staff'
        type: 'expanded'
        description: '
        <p>Meet the engaged, accomplished and inspiring scholars that make up the environment studies faculty.</p>
        '
        people:
          - name: 'Tim Bechtel'
            title: 'Director of F&M Science Outreach & Senior Teaching Professor of Geosciences'
            subject: 'Earth & Environment'
            linkTitle: 'Contact'
            linkURL: '#'
          - name: 'Melissa W Betrone'
            title: 'Academic Department Coordinator'
            subject: 'EARTH AND ENVIRONMENT, BUSINESS, ORGANIZATIONS AND SOCIETY, SCIENCE, TECHNOLOGY AND SOCIETY'
            linkTitle: 'Contact'
            linkURL: '#'
          - name: 'Eve Bratman'
            title: 'Assistant Professor of Environmental Studies'
            subject: 'Earth & Environment'
            linkTitle: 'Contact'
            linkURL: '#'
          - name: 'Sarah S. Dawson'
            title: 'Director, Center for Sustainable Environment'
            subject: 'THE CENTER FOR THE SUSTAINABLE ENVIRONMENT, EARTH AND ENVIRONMENT'
            linkTitle: 'Contact'
            linkURL: '#'
          - name: 'Elizabeth M. De Santo'
            title: 'Associate Professor of Environmental Studies, Program Chair of Environmental Studies'
            subject: 'Earth & Environment'
            linkTitle: 'Contact'
            linkURL: '#'
          - name: 'Annalisa Crannell'
            title: 'Associate Dean of the Faculty, Professor of Mathematics'
            subject: 'Mathematics'
            linkTitle: 'Contact'
            linkURL: '#'

      - heading: 'Learning Outside the Classroom'
        type: 'one-col'
        description: '
        <p>F&M’s location provides the perfect landscape for studying environmental science. Lancaster County’s flourishing agricultural scene, the nearby Susquehanna River, and F&M’s Millport and Spalding nature conservancies provide exciting learning opportunities outside of the classroom. It’s also not uncommon for students to work alongside their professors and become an integral part of their ongoing research.</p>

        <h3>Research Opportunities</h3>
        <p>As you become fully immersed in your environmental science studies, you may find yourself forming theories or questions. The good news? You don’t have to wait until graduate school to investigate. Every student at F&M has extraordinary opportunities to <a href="#">engage in independent</a> or <a href="#">faculty-led research</a>.</p>

        <p>Environmental science faculty are expert researchers working on a wide array of environmental topics, including:</p>
        <ul>
          <li>Wetland and floodplain restoration (Dorothy Merritts and Robert Walter, professors of geosciences)</li>
          <li>Trace metal cycling in the marine environment (Jennifer Morford, professor of chemistry)</li>
          <li>Environmental change and extinction in modern and ancient marine environments (Carol de Wet, professor of geosciences)</li>
          <li>Understanding and predicting responses of aquatic communities and organisms to environmental change (Peter Fields, Janet Fischer, Mark Olson, Joe Thompson, professors of biology)</li>
          <Li>Soil biogeochemistry, carbon cycling and global change (Chris Williams, professor of environmental science)</Li>
          <li>Plant physiology, ecophysiology, and ecology (Sybil Gotsch and Timothy Sipe, associate professors of biology)</li>
          <li>Organism-environment interactions of plants, birds, and mammals (Daniel Ardia, professor of biology)</li>
          <li>Environmental applications of remote sensing and Geographic Information Systems (Andrew de Wet, professor of geosciences, and Tim Bechtel, senior teaching professor of geosciences)</li>
        </ul>

        <h3>Off-Campus Study</h3>
        <p>Off-campus study, in the U.S. and internationally, is encouraged. Our students have studied at field stations and laboratories in Woods Hole, Ma., the Australian rainforest, and the savanna of Kenya. Learn more about <a href="#">off-campus study</a>.</p>
        '
        buttons:
          - title: Learn More
            link: '#'

      - heading: 'Outcomes'
        type: 'one-col'
        description: '
        <p>What happens after you graduate with a degree in environmental science? A plethora of opportunities awaits.</p>

        <h3>Graduate School</h3>
        <p>A majority of our graduates go on to graduate school after F&M. Many complete or enroll in doctoral programs in science, medicine or law. Our graduates have completed their advanced degrees at the best universities in the U.S. and abroad.</p>

        <h3>Career Paths</h3>
        <p>Career outcomes for environmental science graduates are diverse. Many obtain entry-level positions in the environmental and geotechnical consulting field and as sustainability analysts or consultants. Our alumni have also held positions such as: applied science consultant, associate chemist, attorney, biology teacher, energy industry analyst, environmental analyst, environmental consultant, environmental scientist, geophysicist, global sustainability manager, hydrologist, marine biology researcher, marine chemist, public health researcher, resident naturalist, senior associate geologist, strategic planning analyst, sustainability analyst, sustainability planner, water-quality technician, wolf-monitoring technician.</p>

        <p>With a liberal arts degree, the world is at your fingertips. Just keep in mind that environmental scientists can:</p>
        <ul>
          <li>Work indoors and outdoors</li>
          <li>Work with plants, animals and ecosystems</li>
          <li>Work on policy, law and governance</li>
          <li>Work on environmental remediation and pollution control</li>
          <li>Work on human health and ecosystem health</li>
          <li>Evaluate and solve a wide range of technological problems</li>
          <li>And so much more!</li>
        </ul>
        '
        buttons:
          - title: Learn More
            link: '#'


  - name: video
    title: 'Lorem Ipsum Dolor Sit Amet'
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
    youtube: 'https://www.youtube.com/watch?v=qWHm-ZqkHB4'

  - name: quote
    starts: right
    quotes:
      - subhead: 'Student / Alumna'
        bigQuote: '
          Entry-level Career Opportunities in Course Title
        '
        image: '/_resources/images/images/lancaster-1.png'
        body: '<p>Class of 0000</p><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores</p>'
        linkCaption: 'Read More'
        linkURL: '#'
      - subhead: 'Student / Alumna'
        bigQuote: '
          Lorem ipsum dolor sit amet consetetur
        '
        image: '/_resources/images/images/lancaster-1.png'
        body: '<p>Class of 0000</p><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores</p>'
        linkCaption: 'Read More'
        linkURL: '#'

  - name: quicklinks
    title: 'Have you found what you’re looking for? <br/>If not, here are some helpful pages:'
    background: 'dark'
    description: '
    Lorem sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    '
    list:
      - caption: 'In Depth Info about the Major'
        url: '#'
      - caption: 'Environmental Studies Courses'
        url: '#'
      - caption: 'Lorem ipsum dolor amet consectetur'
        url: '#'
      - caption: 'Lorem ipsum dolor sit amet'
        url: '#'
      - caption: 'Lorem ipsum dolor eu viverra'
        url: '#'
      - caption: 'Lorem ipsum dolor sit amet'
        url: '#'


  - name: call-to-action
    title: 'Call to Action'
    link: '#'
    image: '/_resources/images/images/lancaster-1.png'

  - name: three-up-feature
    title: 'F&M Stories'
    kind: 'standard'
    cards:
      - title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        date: 'January 23, 2023'
        copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        image: '/_resources/images/images/three-up-card-image-7.png'
        link: '#'
        linkcaption: 'Read More'
      - title:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        date: 'January 23, 2023'
        copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        image: '/_resources/images/images/three-up-card-image-8.png'
        link: '#'
        linkcaption: 'Read More'
      - title:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        date: 'January 23, 2023'
        copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        image: '/_resources/images/images/three-up-card-image-9.png'
        link: '#'
        linkcaption: 'Read More'
    cta:
      - caption: Learn More
        url: '#'

  - name: three-up-feature
    title: 'F&M Stories'
    kind: 'news'
    background: '/_resources/images/images/three-up-feature-background.svg'
    cards:
      - title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        date: 'January 23, 2023'
        copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        image: '/_resources/images/images/three-up-card-image-7.png'
        link: '#'
        linkcaption: 'Read More'
      - title:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        date: 'January 23, 2023'
        copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        image: '/_resources/images/images/three-up-card-image-8.png'
        link: '#'
        linkcaption: 'Read More'
      - title:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        date: 'January 23, 2023'
        copy: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
        image: '/_resources/images/images/three-up-card-image-9.png'
        link: '#'
        linkcaption: 'Read More'
    cta:
      - caption: Learn More
        url: '#'




---

{% from "macros/component.html" import loadComponent %}

{% for component in components %}
  {{ loadComponent(component) }}
{% endfor %}
