---
layout: main.html
bodyClass: landing
components:

  - name: hero-landing
    image: '/_resources/images/images/lancaster-1.png'
    heading: 'Fields of Study - A to Z'
    breadcrumbs:
      - title: Home
        link: '#'
      - title: Academics
        link: '#'
    subheading: 'More than 60 fields of study'
    paragraph: 'F&M provides room to explore your favorite subjects while discovering new ones, too. A key element of the liberal arts model encourages you to explore a variety of courses and disciplines before choosing a major. There’s even room to create your own interdisciplinary major.
    '

  - name: fields-of-study
    listings:
      - firstLetter: A
        links:
          - title: 'Africana Studies'
            link: '#'
          - title: 'American Studies'
            link: '#'
          - title: 'Animal Behavior Studies'
            link: '#'
          - title: 'Anthropology'
            link: '#'
          - title: 'Arabic Language'
            link: '#'
          - title: 'Art and Art History'
            link: '#'
          - title: 'Astronomy & Astrophysics'
            link: '#'
      - firstLetter: B
        links:
          - title: 'Biochemistry & Molecular Biology'
            link: '#'
          - title: 'Bioinformatics'
            link: '#'
          - title: 'Biology'
            link: '#'
          - title: 'Business, Organizations & Society'
            link: '#'
      - firstLetter: C
        links:
          - title: 'Chemistry'
            link: '#'
          - title: 'Chinese Language'
            link: '#'
          - title: 'Classical Archaeology and Ancient History'
            link: '#'
          - title: 'Cognitive Science'
            link: '#'
          - title: 'Comparative Literary Studies'
            link: '#'
          - title: 'Computer Science'
            link: '#'
      - firstLetter: D
        links:
          - title: 'Dance'
            link: '#'
      - firstLetter: E
        links:
          - title: 'Economics'
            link: '#'
          - title: 'Engineering'
            link: '#'
          - title: 'English: Creative Writing'
            link: '#'
          - title: 'English: Literature'
            link: '#'
          - title: 'Environmental Management'
            link: '#'
          - title: 'Environmental Science'
            link: '#'
          - title: 'Environmental Studies'
            link: '#'
      - firstLetter: F
        links:
          - title: 'Film and Media Studies'
            link: '#'
          - title: 'French and Francophone Studies'
            link: '#'
      - firstLetter: G
        links:
          - title: 'Geosciences'
            link: '#'
          - title: 'German and German Studies'
            link: '#'
          - title: 'Government'
            link: '#'
          - title: 'Greek'
            link: '#'
      - firstLetter: H
        links:
          - title: 'Hebrew'
            link: '#'
          - title: 'History'
            link: '#'
      - firstLetter: I
        links:
          - title: 'International Studies'
            link: '#'
          - title: 'Italian'
            link: '#'
      - firstLetter: J
        links:
          - title: 'Japanese Language'
            link: '#'
          - title: 'Judaic Studies'
            link: '#'
      - firstLetter: L
        links:
          - title: 'Latin'
            link: '#'
          - title: 'Latin American Studies'
            link: '#'
          - title: 'Linguistics'
            link: '#'
      - firstLetter: M
        links:
          - title: 'Materials Studies'
            link: '#'
          - title: 'Mathematics'
            link: '#'
          - title: 'Moral Psychology'
            link: '#'
          - title: 'Music'
            link: '#'
      - firstLetter: N
        links:
          - title: 'Neuroscience'
            link: '#'
      - firstLetter: P
        links:
          - title: 'Philosophy'
            link: '#'
          - title: 'Physics'
            link: '#'
          - title: 'Pre-Dental'
            link: '#'
          - title: 'Pre-Law'
            link: '#'
          - title: 'Pre-Med'
            link: '#'
          - title: 'Pre-Veterinary'
            link: '#'
          - title: 'Psychology'
            link: '#'
          - title: 'Public Health'
            link: '#'
          - title: 'Public Policy'
            link: '#'
      - firstLetter: R
        links:
          - title: 'Religious Studies'
            link: '#'
          - title: 'Russian and Russian Studies'
            link: '#'
      - firstLetter: S
        links:
          - title: 'Science, Technology and Society'
            link: '#'
          - title: 'Sociology'
            link: '#'
          - title: 'Spanish'
            link: '#'
          - title: 'Studio Art'
            link: '#'
      - firstLetter: T
        links:
          - title: 'Theatre'
            link: '#'
      - firstLetter: W
        links:
          - title: 'Women’s, Gender and Sexuality Studies'
            link: '#'

  - name: feature-display
    title: 'The Connections Curriculum'
    image: '/_resources/images/images/lancaster-1.png'
    thumb: '/_resources/images/images/lancaster-small-1.png'
    paragraph: '<p>The curriculum at F&M is called “Connections.” A true representation of a liberal arts education, our curriculum encourages you to strive beyond traditional boundaries and limits and make “connections”: connections between disciplines that on the surface don’t seem related, connections between theory and practice, connections with other students and faculty and connections between your liberal arts education and the world.</p>'
    align: 'top'
    ctas:
      - link: '#'
        caption: 'Call to Action'

  - name: fields-of-study-cards
    cards:
      - title: The Sciences
        paragraph: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>'
        link: '#'
        linktitle: 'Learn More'
        image: '/_resources/images/images/lancaster-1.png'
      - title: The Arts
        paragraph: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>'
        link: '#'
        linktitle: 'Learn More'
        image: '/_resources/images/images/lancaster-1.png'
      - title: The Humanities
        paragraph: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>'
        link: '#'
        linktitle: 'Learn More'
        image: '/_resources/images/images/lancaster-1.png'
      - title: The Social Sciences
        paragraph: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>'
        link: '#'
        linktitle: 'Learn More'
        image: '/_resources/images/images/lancaster-1.png'

  - name: call-to-action
    title: 'Call to Action'
    link: '#'
    image: '/_resources/images/images/lancaster-1.png'

  - name: stat-block-standard
    title: 'Main Title'
    border: 'yellow'
    subtitle: 'Secondary Titling'
    paragraph: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    '
    linktitle: 'Call to Action'
    link: '#'
    statistics:
      - numeral: 12
        caption: Testing the captions out with varying lengths
      - numeral: 34
        caption: Testing the captions out once again
      - numeral: 56
        caption: Testing a shorter one
      - numeral: 78
        caption: Testing out a far longer, verbose, perhaps "superfluous" caption to ensure responsiveness

---

{% from "macros/component.html" import loadComponent %}

{% for component in components %}
  {{ loadComponent(component) }}
{% endfor %}
