<div class="c-academic-calendar chart">
  <div class="c-academic-calendar__contain">

    <table class="c-academic-calendar__table">
      <tr class="c-academic-calendar__top-row">
        <td class="c-academic-calendar__semester">
          Spring 2003
        </td>
        <td>
          Full Term
        </td>
        <td>
          Half Term
        </td>
      </tr>
      <tr class="c-academic-calendar__row">
        <td class="c-academic-calendar__semester">Advising Week for Summer and Fall 2020 Registration</td>
        <td>March 25</td>
        <td>March 25</td>
      </tr><tr class="c-academic-calendar__row">
        <td class="c-academic-calendar__semester">Advising Week for Summer and Fall 2020 Registration</td>
        <td>March 25</td>
        <td>March 25</td>
      </tr><tr class="c-academic-calendar__row">
        <td class="c-academic-calendar__semester">Advising Week for Summer and Fall 2020 Registration</td>
        <td>March 25</td>
        <td>March 25</td>
      </tr>
    </table>
  </div>
</div>