<section class="background-blue">
  <div class="container-md">
    <div class="lg:w-18/22 xl:w-14/22 mx-auto p-2/24 md:p-1/22 bg-white">
      <h2 class="title-sm pb-6 border-b-2 border-blue-ash">{{ data.title }}</h2>
      <ul class="table w-full text-18 lg:text-24 leading-140 font-medium">
        {% for school in data.schools %}
          <li class="table-row text-18 md:text-24 leading-110 font-semibold">
            <div class="table-cell border-b-2 border-blue-ash py-5 md:py-6 pr-5">
              <a href="#" class="hover-highlight">{{ school.name }}</a>
            </div>
            <div class="table-cell border-b-2 border-blue-ash py-5 md:py-6 text-right lg:whitespace-nowrap">
              {{ school.degree }}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>