<div class="c-accordion-block {{ data.color }}">

  <div class="c-accordion-block__contain">

    <h2>{{ data.heading | safe }}</h2>

    <div class="c-accordion__contents">
    {% for content in data.contents %}

      <div class="c-accordion__contents-copy">
        <div class="c-accordion__heading">
          <h3>{{ content.heading }}

            <span class="c-accordion__expand">
              {% include '../../../assets/images/icon-accordion-plus.svg' %}
              <span class="c-accordion__contract">
                {% include '../../../assets/images/icon-accordion-plus.svg' %}
              </span>
            </span>

          </h3>
          <p class="c-accordion__description"><br/>{{ content.description }}</p>
        </div>
      </div>

    {% endfor %}


    {% if data.buttons %}

      {% for button in data.buttons %}

        <a class="inline-flex items-center mt-4 font-display font-semibold text-16 leading-110 button blue" href="{{ button.link }}">
          {{ button.title }}
          <div class="cta-icon ml-3 lg:ml-3 overflow-hidden flex-shrink-0">
            {% include '../../../assets/images/icon-diagonal-icon.svg' %}
            <div class="cta-icon__front adhere">
              {% include '../../../assets/images/icon-diagonal-icon.svg' %}
            </div>
          </div>
        </a>

      {% endfor %}

    {% endif %}
    </div>



  </div>

</div>