<section class="pb-16 lg:pb-20">
  <div class="bg-blue-light h-32 lg:h-40"></div>
  <div class="container-md -mt-24 md:-mt-20 lg:-mt-24">
    <div class="p-1/22 bg-white shadow-blue lg:mb-5">
      <h2 class="mb-5 lg:mb-11 meta">Navigate List</h2>
      <div class="overflow-x-auto">
        <ul class="flex justify-between">
          {% for section in data.sections%}
          <li class="px-1 flex-grow-0">
            {% if section.links | length %}
            <app-scroll-link
              href="#{{ section.title }}"
              class="inline-block p-1 border-b-2 border-transparent hover:border-orange hover:font-bold transition-colors"
            >
              {{ section.title }}
            </app-scroll-link>
            {% else %}
            <span class="inline-block p-1 text-blue-ash border-b-2 border-transparent">{{ section.title }}</span>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="w-full w-20/22 md:w-16/22 mx-auto">
      {% for section in data.sections %}
        {% if section.links | length %}
          <div id="{{ section.title }}" class="border-b-2 border-blue-ash py-8 lg:py-12">
            <h3 class="text-32 md:text-40 leading-110 font-display font-semibold mb-5 md:mb-10">
              {{ section.title }}
            </h3>
            <ul class="sm:grid sm:grid-cols-2 lg:grid-cols-3 sm:gap-4 font-semibold leading-140">
              {% for link in section.links %}
              <li class="li-square mb-4 sm:mb-0 px-3">
                <a href="{{ link.link }}" class="underline text-blue hover:text-blue-navy">{{ link.label }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
