<div class="c-rss-feed">
  <div class="c-rss-feed-container">

      {% if data.title %}
      <h2>{{ data.title }}</h2>
      {% endif %}
      {% if data.showAll %}
      <a href="#" class="c-rss-feed-container__show-all inline-flex items-center font-display font-semibold text-16 leading-110 button blue">
        View All
        <div class="cta-icon inline ml-3 lg:ml-3 overflow-hidden flex-shrink-0">
          {% include '../../../assets/images/icon-diagonal-icon.svg' %}
          <div class="cta-icon__front adhere">
            {% include '../../../assets/images/icon-diagonal-icon.svg' %}
          </div>
        </div>
      </a>
      {% endif %}

      <div class="c-rss-feed__article-contain">
      {% for article in data.articles %}
        <a href="{{ article.link }}" class="c-rss-feed__article">
          <div class="c-rss-feed-article-image" style="background: url('{{ article.image }}') center center; background-repeat: no-repeat; background-size: cover;">
            <div class="c-rss-feed-article-image__date">
              <span>{{ article.month }}</span>
              {{ article.date }}
            </div>
          </div>
          <div class="c-rss-feed-article-data">
            {{ article.title | safe }}

            <span>Read More {% include '../../../assets/images/arrow-blue-small.svg' %}</span>
          </div>
        </a>
      {% endfor %}
      </div>

      {% if data.pagination %}
      <div class="c-pagination-links">
        <span class="c-pagination-link-active">1</span><a href="#"  class="c-pagination-link">2</a><a href="#" class="c-pagination-link">3</a><span>...</span><a href="#"  class="c-pagination-link">5</a><a href="#" aria-label="next page" title="next page"> {% include '../../../assets/images/icon-arrow-right.svg' %}</a>
      </div>
      {% endif %}

  </div>
</div>