<!-- DEV NOTE: `default-panel-id` value on `app-accordion` needs to match `id` on corresponding `app-accordion-panel` since this has no corresponding `app-accordion-button` -->
<app-accordion tag="div" default-panel-id="audience-default" class="relative w-18/22 lg:w-16/22 ml-2/22 lg:ml-3/22">
  <div class="w-7/22">
    <h3 class="mb-4 text-24 font-semibold leading-160">I’m a...</h3>
    <ul>
      {% for item in header.topPages.groups %}
        <li class="block mt-3.5">
          {% if item.heading %}
            <!-- DEV NOTE: `controls` value on `app-accordion-button` needs to match `id` on corresponding `app-accordion-panel` (concatenating loop index works well) -->
            <app-accordion-button controls="audience-{{ loop.index0 }}" class="audience__button inline-block py-3 px-4 leading-120 font-semibold text-blue-navy text-left">
              <span class="relative">{{ item.heading }}</span>
            </app-accordion-button>
          {% endif %}
          <app-accordion-panel transition-name="TransitionSubmenu" id="{{ ('audience-' + loop.index0) if item.heading else 'audience-default' }}" class="absolute top-0 right-0 w-14/22">
            <span class="block subtitle my-3">Top Pages</span>
            <ul class="flex flex-wrap justify-between">
              {% for link in item.links %}
                <li class="audience__item block w-10/22 border-b-2 border-blue-dark overflow-visible">
                  <a class="flex h-full justify-between items-center py-3.5 text-16 font-semibold leading-140" href="{{ link.href }}">
                    {{ link.label }}
                    {{ ctaIcon('arrow', 'w-5 h-5 ml-2 flex-shrink-0', 'text-red', 'text-orange') }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </app-accordion-panel>
        </li>
      {% endfor %}
    </ul>
  </div>
</app-accordion>