<section class="background-blue">
  <div class="container">
    <div class="lg:w-18/22 pb-8 mb-10 mx-auto border-b-2 border-blue-ash">
      <h2 class="title-md mb-4">{{ data.heading }}</h2>
      <p class="body">{{ data.body }}</p>
    </div>
  </div>
  <div class="container">
    <div class="lg:w-18/22 xl:w-16/22 mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10 lg:gap-16">
        {% for card in data.cards %}
          <div class="bg-white">
            <a class="block relative w-full h-64 md:h-72 xl:h-80 bg-blue-ash overflow-hidden" href="{{ card.url }}">
              <span class="sr-only">{{ card.name }}</span>
              <img class="filter__image adhere object-cover pointer-events-none" alt="{{ card.image.alt or card.name }}" src="{{ card.image.src }}">
            </a>
            <div class="p-6 md:p-8 xl:p-10">
              <h3 class="mb-2.5 font-display font-semibold text-32 xl:text-40 leading-1 tracking-slight">
                <a class="hover-highlight" href="{{ card.url }}">
                  <span class="relative">{{ card.name }}</span>
                </a>
              </h3>
              <h4 class="mb-4 text-14 md:text-16 leading-120 tracking-wider uppercase">
                {{ card.title }}
              </h4>
              <div class="text-16 md:text-18 leading-150 font-light tracking-slight">
                <address class="mb-4 not-italic">
                  <p>{{ card.address | safe }}</p>
                </address>
                <p>
                  <a href="tel:{{ card.phoneLink }}">{{ card.phone }}</a>
                </p>
                <p>
                  <a href="mailto:{{ card.email }}" class="underline hover:no-underline hover-highlight">{{ card.email }}</a>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="mt-7 text-right">
        <a class="hover-highlight py-0.5 font-semibold text-18 leading-160" href="{{ data.link.href }}">
          {{ data.link.label }}
          {{ svg('arrow', 'inline-block w-6 h-6 mb-1 ml-2 text-red') }}
        </a>
      </div>
    </div>
  </div>
</section>