<div class="background-white">
  <app-carousel class="container relative">
    <div class="md:max-w-18/22 lg:max-w-19/22 mx-auto">
      {% for item in data.items %}
        <app-carousel-item class="w-full">
          <div class="aspect-w-16 aspect-h-9">
            <img class="object-cover pointer-events-none" src="{{ item.image.src }}" alt="{{ item.image.alt }}">
          </div>
          <div class="md:flex mt-5 md:mt-6">
            <h2 class="title-xs md:w-1/3 md:mr-1/22 flex-shrink-0">{{ item.heading }}</h2>
            <div class="mt-2 md:mt-0 rich-text">
              <!-- DEV NOTE: supports WYSIWYG only (ideally only <p>, <b>, <em> and hyperlinks) -->
              {{ item.body | safe }}
            </div>
          </div>
        </app-carousel-item>
      {% endfor %}
    </div>
    <div class="md:absolute md:top-0 md:left-0 flex w-full justify-center md:justify-between mt-6 md:mt-5/22 pointer-events-none">
      <div class="transform rotate-180">
        <app-carousel-button direction="previous" class="block pointer-events-auto">
          <span class="sr-only">Previous Slide</span>
          {{ ctaIcon('arrow-circle', 'w-8 md:w-12 h-8 md:h-12', 'text-red', 'text-orange', 'span') }}
        </app-carousel-button>
      </div>
      <app-carousel-button direction="next" class="block ml-5 pointer-events-auto">
        <span class="sr-only">Next Slide</span>
        {{ ctaIcon('arrow-circle', 'w-8 md:w-12 h-8 md:h-12', 'text-red', 'text-orange', 'span') }}
      </app-carousel-button>
    </div>
  </app-carousel>
</div>
