<div class="c-program-listing">

    <div class="c-program-listing__contain">

      {% for entry in data.entries %}

      <div class="c-program-listing__entry" id="title-{{ entry.id }}">
        <p>{{ entry.title }}
          <span class="c-program-listing__expand">
            {% include '../../../assets/images/icon-accordion-plus.svg' %}
            <span class="c-program-listing__contract">
              {% include '../../../assets/images/icon-accordion-minus.svg' %}
            </span>
          </span>
        </p>

        <span class="c-program-listing__available">3 Programs Available</span>

        <div class="c-program-list__collapsible">
          <div class="c-program-list__courses" id="courses-{{ entry.id }}">

            <div>Programs and Courses</div>
            <div>Paths</div>

            {% for program in entry.programs %}

            <div><a href="{{ program.link }}">{{ program.title }}
              {% include '../../../assets/images/arrow-small-upright.svg' %}</a></div>
            <div>{{ program.path }}</div>

            {% endfor %}

          </div>
        </div>


      </div>

      {% endfor %}

    </div>

</div>

<div class="c-pagination-links">

  <span class="c-pagination-link-active">1</span><a href="#"  class="c-pagination-link">2</a><a href="#" class="c-pagination-link">3</a><span>...</span><a href="#"  class="c-pagination-link">5</a><a href="#" aria-label="next page" title="next page"> {% include '../../../assets/images/icon-arrow-right.svg' %}</a>

</div>