<div class="c-cta-group cta {{ data.color }}">

  <div class="c-cta-group-block">
    <div class="c-cat-group__intro-container">
      <div class="c-cta-group__intro-body">
        <h2>{{ data.heading }}</h2>
        {{ data.copy | safe }}
        <div class="c-cta-group__intro-quicklinks">
          {% for quicklink in data.quicklinks %}
          <a href="{{ quicklink.link }}">{{ quicklink.title }}<span>{{ quicklink.subtitle }}</span> {% include '../../../assets/images/arrow-blue-large.svg' %}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>