<section class="relative pb-28 md:pb-96">
  <img src="{{ data.image }}" class="absolute bottom-0 left-0 z-1 md:z-auto w-full h-36 md:h-500 object-cover pointer-events-none" alt="Alt text">
  <div class="relative flex flex-col items-center md:w-20/22 lg:w-18/22 pt-10 md:py-16 md:mx-auto bg-blue-navy text-white">
    <h2 class="title-sm md:text-40 text-center mb-5 font-semibold">{{ data.title }}</h2>
    <div class="z-10 md:flex justify-center w-20/22 xl:w-9/12 mx-auto">
      {% for cta in data.ctas %}
        <a href="{{ cta.link }}" class="flex items-center md:items-start md:flex-col md:flex-1 mt-5 md:mx-4 xl:mx-5 p-8 xl:p-10 bg-blue hover:bg-blue-dark transition-colors">
          <h3 class="md:mb-6 text-left font-display text-18 md:text-24 font-semibold leading-110 tracking-slight flex-grow">{{ cta.title }}</h3>
          {{ ctaIcon('arrow-circle', 'w-8 md:w-12 h-8 md:h-12 self-center md:self-end flex-shrink-0', 'text-white', 'text-orange') }}
        </a>
      {% endfor %}
    </div>
  </div>
</section>