<div class="c-events-listing">

  <div class="c-events-listing__container">

    {% for event in data.events %}

      <div class="c-events-listing__event-contain">

        <div class="c-events-listing__event-thumbnail" style="background: url({{ event.image }}) center center no-repeat; background-size: cover;">

        </div><div class="c-events-listing__event-information">

          <h4>{{ event.date }}</h4>
          <h3>{{ event.title }}</h3>

          <p><strong>{{ event.type }}</strong></p>
          <p><strong>{{ event.time }}</strong></p>

          <p class="c-events-listing__event-description">{{ event.description }}</p>

        </div>

      </div>

    {% endfor %}

    <div class="c-pagination-links">

      <span class="c-pagination-link-active">1</span><a href="#"  class="c-pagination-link">2</a><a href="#" class="c-pagination-link">3</a><span>...</span><a href="#"  class="c-pagination-link">5</a><a href="#" aria-label="next page" title="next page"> {% include '../../../assets/images/icon-arrow-right.svg' %}</a>

    </div>

  </div>

</div>