<div class="c-faq-block">

  <div class="c-faq-block__contain">

    <h2>{{ data.heading }}</h2>

    <div class="c-faq__questions">
    {% for question in data.questions %}

      <div class="c-faq__question-answer">
        <div class="c-faq__question">
          <h3>{{ question.heading }}



            <span class="c-faq__expand">
              {% include '../../../assets/images/icon-accordion-plus.svg' %}
            </span>
          </h3>
          <p class="c-faq__answer">{{ question.answer }}</p>
        </div>
      </div>

    {% endfor %}
    </div>

  </div>

</div>
