<section class="c-feature-display">
  <div class="c-feature-display-wrapper">

    <div class="c-feature-display-contain">
      <div class="c-feature-display-content">

        <h2>{{ data.title | safe }}</h2>

        <div class="c-feature-display-mobile-image">
          <div style="background-image: url({{ data.image }}); background-position: center center; background-repeat: no-repeat; background-size: cover;"></div>
        </div>

        {{ data.paragraph | safe }}

        {% for cta in data.ctas %}
        <a class="button" href="{{ cta.link }}">{{ cta.caption }}  &raquo;</a><br/>
        {% endfor %}

      </div>

      <div class="c-feature-display-image {{ data.align }}" >


        <div class="c-feature-display-image-thumbnail ">
          <div>
            <div style="background-image: url({{ data.thumb }}); background-position: center center; background-repeat: no-repeat; background-size: cover;"></div>
          </div>
        </div>

        <div class="c-feature-display-image-large" style="background-image: url({{ data.image }}); background-position: center center; background-repeat: no-repeat; background-size: cover;"></div>

      </div>

    </div>
  </div>
</section>