<div class="c-feature-story">
  <h2>{{ data.title }}</h2>
  <div class="c-feature-story-contain">
    <div class="c-feature-story-contain__copy">
      <div>
        <h3>{{ data.heading }}</h3>
        <h4>{{ data.subhead }}</h4>
        <p>{{ data.body }}</p>

        <a href="{{ data.link }}">{{ data.linktitle }}</a>
      </div>
    </div><div class="c-feature-story-contain__image {{ data.imageAlign }}" style="background: url('{{ data.image }}') center center; background-size: cover; background-repeat: no-repeat">

    </div>
  </div>
</div>
