<section class="c-fields-of-study-cards">

  <div class="c-fields-of-study-cards-contain">

    {% for card in data.cards %}

    <div class="c-fields-of-study-cards-card">
      <div class="c-fields-of-study-cards-card-image" style="background-image: url({{ card.image }}); background-position: center center; background-repeat: no-repeat; background-size: cover;">

      </div><div class="c-fields-of-study-cards-card-content">
        <h2>{{ card.title }}</h2>
        <hr/>
        {{ card.paragraph | safe }}
        <a href="{{ card.link }}">{{ card.linktitle }} &raquo;</a>

      </div>
    </div>

    {% endfor %}

  </div>

</section>