<div class="c-fifty-fifty-block fifty-fifty-block-{{ data.blockbg }}">
  <div class="c-fifty-fifty-container">

    <div class="c-fifty-fifty-image {{ data.imageAlign }}" style="background: url('{{ data.image }}') center center; background-size: cover; background-repeat: no-repeat;">

    </div><div class="c-fifty-fifty-copy {{ data.imageAlign }} fifty-fifty-copy-{{ data.copybg }}">
      <div class="c-fifty-fifty-copy__contents">
        <h3>{{ data.heading }}</h3>
        {{ data.copy | safe }}

        {% if data.links %}
        {% for link in data.links %}
          <a class="inline-flex items-center mt-4 font-display font-semibold text-16 leading-110 button {{ data.buttonbg }}" href="{{ link.link }}">
            {{ link.title }}
            <div class="cta-icon ml-3 lg:ml-3 overflow-hidden flex-shrink-0">
              {% include '../../../assets/images/icon-diagonal-icon.svg' %}
              <div class="cta-icon__front adhere">
                {% include '../../../assets/images/icon-diagonal-icon.svg' %}
              </div>
            </div>
          </a>
        {% endfor %}
        {% endif %}

        {% if data.isLocation %}
          {% for location in data.locations %}
          <div class="c-fifty-fifty__location-detail">
            <div>
              <h4>{{ location.title }}</h4>

              <a class="inline-flex items-center mt-4 font-display font-semibold text-12 leading-110 button blue" href="{{ location.link }}">
                Learn More
              </a>
            </div>
            <div>
              <a href="#">{{ location.address | safe }}</a>
              <div>Information<br/>
                <a href="tel:{{ location.phone }}">{{ location.phone }}</a>
              </div>
            </div>

          </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

  </div>
</div>
