<div class="c-fifty-fifty {% if data.background %} bg-{{ data.background }} {% endif %} {% if data.special %} special-split {% endif %}">
  <div class="c-fifty-fifty-wrapper">

    {% if data.title %}
    <div class="c-fifty-fifty-title">
      <h2>{{ data.title }}</h2>
    </div>
    {% endif %}

    <div class="c-fifty-fifty-container">
      <div class="{{ data.type1 }}">

        {% if data.video1 %}

          <!-- DEV NOTE: Only supports youtube embed. Any youtube url should work for the `youtube-url` prop -->
          <video-player tabindex="0" title="Alt Text" youtube-url="{{ data.youtube }}" thumbnail-url="{{ data.thumbnail }}" thumbnail-alt="Alt Text" role="presentation"></video-player>

        {% endif %}

        {% if data.html1 %}

          {{ data.html1 | safe }}

        {% endif %}

        {% if data.image1 %}

          <div class="fifty-fifty-image" style="background: url('{{ data.image1 }}') center center no-repeat; background-size: cover;">

          </div>

        {% endif %}

      </div><div class="{{ data.type2 }}">

        {% if data.video2 %}

          <!-- DEV NOTE: Only supports youtube embed. Any youtube url should work for the `youtube-url` prop -->
          <video-player tabindex="0" title="Alt Text" youtube-url="{{ data.youtube }}" thumbnail-url="{{ data.thumbnail }}" thumbnail-alt="Alt Text" role="presentation"></video-player>

        {% endif %}

        {% if data.html2 %}

          {{ data.html2 | safe }}

        {% endif %}

        {% if data.image2 %}

          <div class="fifty-fifty-image" style="background: url('{{ data.image2 }}') center center no-repeat; background-size: cover;">

          </div>

        {% endif %}


      </div>
    </div>

  </div>
</div>