{% from "macros/svg.html" import svg %}


<footer class="c-footer">
  <section class="c-prefooter background-blue">
    <div class="c-prefooter__contain">

      <h2>{{ footer.prefootertitle | safe }}</h2>



    </div>
  </section>
  <div class="c-footer__contain">
      <div class="c-footer__logo">
     
        <p>{{ footer.desc }}</p>
      </div>
      <div class="c-footer__primary">
        <ul>
          {% for link in footer.linksPrimary %}
            <li><a href="{{ link.href }}">{{ link.label }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="c-footer__locations">
       
      </div>
      <div class="c-footer__secondary">
        <div class="c-footer__secondary-contain">
          <div class="c-footer__secondary-links">
            <ul>
              {% for link in footer.linksSecondary %}
                <li><a href="{{ link.href }}">{{ link.label }}</a></li>
              {% endfor %}
            </ul>
            <p class="c-footer__copyright">© 2022 Collin College. All Rights Reserved.</p>
          </div>

        </div>
      </div>
  </div>
</footer>