<!-- DEV NOTE: class of `form-right` and `form-left` controls layout -->
<section class="form-{{ data.mode or 'right' }} background-blue">
  <div class="container">
    <div class="form-container">
      <!-- DEV NOTE: this div can contain sub-components: `WYSIWYG`, `CTA Group`, `CTA Description`, and `CTA Single` (labelled with comments when used below) -->
      <div class="form-column-content md:pt-6 lg:pt-10">
        {% for item in data.content %}
          {% include "components/rich-text-subcomponent.html" %}
        {% endfor %}
      </div>
      <div class="form-column-form">
        <!-- DEV NOTE: form needs class of `form` for styles to work appropriately -->
        <form class="form bg-white p-6 lg:p-10">
          <h3 class="title-sm mb-8">Form Title</h3>
          <div class="form-field">
            <label for="{{ data.idPrefix }}-select-1">Select Field</label>
            <select id="{{ data.idPrefix }}-select-1" name="select-1">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="form-field">
            <label for="{{ data.idPrefix }}-select-2">Select Field with Error</label>
            <select id="{{ data.idPrefix }}-select-2" name="select-2" class="error">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <span class="error">Error Message</span>
          </div>
          <fieldset>
            <legend>Radio Field lorem ipsum dolor?</legend>
            <div class="form-field">
              <input id="{{ data.idPrefix }}-radio-1a" type="radio" name="radio-1" value="1" />
              <label for="{{ data.idPrefix }}-radio-1a">Option 1</label>
            </div>
            <div class="form-field">
              <input id="{{ data.idPrefix }}-radio-1b" type="radio" name="radio-1" value="2" />
              <label for="{{ data.idPrefix }}-radio-1b">Option 2</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Radio Field with Error lorem ipsum dolor?</legend>
            <div class="form-field">
              <input id="{{ data.idPrefix }}-radio-2a" type="radio" name="radio-2" value="1" />
              <label for="{{ data.idPrefix }}-radio-2a">Option 1</label>
            </div>
            <div class="form-field">
              <input id="{{ data.idPrefix }}-radio-2b" type="radio" name="radio-2" value="2" />
              <label for="{{ data.idPrefix }}-radio-2b">Option 2</label>
            </div>
            <span class="error">Error Message</span>
          </fieldset>
          <fieldset>
            <legend>Checkbox Field lorem ipsum dolor?</legend>
            <div class="form-field">
              <input id="{{ data.idPrefix }}-checkbox-1a" type="checkbox" name="checkbox-1" value="1" />
              <label for="{{ data.idPrefix }}-checkbox-1a">Option 1</label>
            </div>
            <div class="form-field">
              <input id="{{ data.idPrefix }}-checkbox-1b" type="checkbox" name="checkbox-1" value="2" />
              <label for="{{ data.idPrefix }}-checkbox-1b">Option 2</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Checkbox Field with Error lorem ipsum dolor?</legend>
            <div class="form-field">
              <input id="{{ data.idPrefix }}-checkbox-2a" type="checkbox" name="checkbox-2" value="1" />
              <label for="{{ data.idPrefix }}-checkbox-2a">Option 1</label>
            </div>
            <div class="form-field">
              <input id="{{ data.idPrefix }}-checkbox-2b" type="checkbox" name="checkbox-2" value="2" />
              <label for="{{ data.idPrefix }}-checkbox-2b">Option 2</label>
            </div>
            <span class="error">Error Message</span>
          </fieldset>
          <div class="form-field">
            <label for="{{ data.idPrefix }}-text-1">Text Field</label>
            <input id="{{ data.idPrefix }}-text-1" type="text" name="text-1" />
          </div>
          <div class="form-field">
            <label for="{{ data.idPrefix }}-text-2">Text Field with Error</label>
            <input id="{{ data.idPrefix }}-text-2" type="text" name="text-2" class="error" />
            <span class="error">Error Message</span>
          </div>
          <div class="form-field">
            <label for="{{ data.idPrefix }}-textarea-1">Textarea Field</label>
            <textarea id="{{ data.idPrefix }}-textarea-1" name="textarea-1" rows="6"></textarea>
          </div>
          <div class="form-field">
            <label for="{{ data.idPrefix }}-textarea-2">Textarea Field with Error</label>
            <textarea id="{{ data.idPrefix }}-textarea-2" name="textarea-2" rows="6" class="error"></textarea>
            <span class="error">Error Message</span>
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>