<app-accordion tag="div" class="">
  <div class="c-hamburger-contain">

    {% include "components/search-form.html" %}

    {% for item in header.hamburgerMenu %} {% if not item.excludeDesktop %}

    <div class="c-hamburger-primary-menu">

      <h3>{{ item.title }}</h3>

      <ul class="c-hamburger-menu-link-list">
      {% for link in item.links %}
      <li><a href="{{ link.href }}">{{ link.label }}</a></li>
      {% endfor %}
      </ul>

    </div>

    {% endif %} {% endfor %}

    <ul class="utility-menu">
    {% for utility in header.utilityMenu %}
      {% for link in utility.links %}
      <li>
        <a href="{{ link.href }}">{{ link.label }} &raquo;</a>
      </li>
      {% endfor %}
    {% endfor %}
    </ul>

  </div>
</app-accordion>