<app-accordion tag="div" class="">
  <ul class="flex gap-8 justify-end">
    {% for item in header.menuPrimary %} {% if not item.excludeDesktop %}
    <li class="text-15 relative item">
      {% if item.href %}
      <a class="peer pt-25 pb-25 block" href="{{ item.href }}"> {{ item.heading }} </a>

      <ul class="absolute top-full left-0 bg-white w-254 p-25 shadow-reg hidden peer-hover:block hover:block">
        {% for link in item.links %}
        <li class="text-14">
          <a class="pt-6 pb-6 block" href="{{ link.href }}"> {{ link.label }} </a>
        </li>
        {% endfor %}
      </ul>

      {% else %}
      <!-- DEV NOTE: `controls` value on `app-accordion-button` needs to match `id` on corresponding `app-accordion-panel` (concatenating loop index works well) -->
      <!-- DEV NOTE: `default-expanded` needs to be on first button only -->
      {{ item.heading }} {% endif %}
    </li>
    {% endif %} {% endfor %}
  </ul>
</app-accordion>
