<section class="bg-blue-light">
  <img src="{{ data.image }}" alt="Alt text" class="w-full h-56 md:h-520 object-cover">
  <div class="relative md:flex items-stretch max-w-screen-2xl md:w-22/24 md:-mt-12 lg:-mt-24 md:mx-auto">
    <h1 class="flex items-center w-full title-xl pt-7 md:pt-10 pb-10 md:pb-14 px-2/24 md:px-12 lg:px-24 bg-blue text-white">{{ data.heading }}</h1>
    {% if data.link %}
      <div class="md:w-7/22 lg:w-5/22 px-2/24 md:px-0 mt-auto md:ml-1/22 flex-shrink-0">
        <a class="cta-line md:mt-12 lg:mt-24" href="{{ data.link.href }}">
          <span class="block mb-3 text-18 leading-110 font-light">{{ data.link.eyebrow }}</span>
          <div class="flex justify-between items-end">
            <span class="block text-24 leading-110 font-semibold">{{ data.link.label }}</span>
            {{ ctaIcon('arrow-circle', 'w-8 h-8 ml-3 flex-shrink-0', 'text-orange', 'text-red') }}
          </div>
        </a>
      </div>
    {% endif %}
  </div>
</section>