<section class="relative hero c-hero-home">
  <!-- DEV NOTE: If background image is not set by user in the CMS, it should use default: `/_resources/images/background.jpg` -->
  <!-- <img alt="" aria-hidden="true" src="{{ data.backgroundImage or '/_resources/images/background.jpg' }}" class="adhere object-cover object-top"> -->
  <div class="adhere gradient-hero-bg"></div>
  <div class="relative flex min-h-screen-75 md:min-h-500 lg:min-h-600 items-center p-1/22 text-white bg-white c-hero-home-hero">
    {% if data.image %}
      <!-- DEV NOTE: Begin Image Variation -->
      <img class="adhere object-cover pointer-events-none " src="{{ data.image }}" alt="Alt text">
      <div class="adhere gradient-hero"></div>
      <!-- DEV NOTE: End Image Variation -->
    {% elif data.video %}
      <!-- DEV NOTE: Begin Video Variation -->
        <video-cover video-url="{{ data.video }}">
          <div class="adhere gradient-hero"></div>
          <video-cover-button class="absolute w-9 h-9 p-3 bg-blue-navy bg-opacity-50"></video-cover-button>
        </video-cover>
      <!-- DEV NOTE: End Video Variation -->
    {% endif %}
    <div class="relative mr-6 c-header-home__content">
      <h1 class="title-lg w-5 mb-6 relative">
      {{ data.heading | safe }}
      </h1>

      {{ data.description | safe }}

      {% if data.link.href %}
      <a class="inline-flex items-center mt-4 font-display font-semibold text-16 leading-110 button blue" href="{{ data.link.href }}">
        {{ data.link.label }}
      </a>
      {% endif %}
    </div>
  </div>
  <div class="home-hero__quick-links">

    <div class="c-iconlist-container grid grid-cols-3 grid-flow-col max-w-7xl m-auto">

      {% for quickLink in data.quickLinks %}
      <a href="{{ quickLink.link }}" class="c-iconlist-content">
        <div class="c-iconlist-icon">
          <img alt="image" src="{{ quickLink.image }}" class="c-iconlist-image c-iconlist-default w-28 h-28">
          <img alt="image" src="{{ quickLink.hover }}" class="c-iconlist-image c-iconlist-hover w-28 h-28">
        </div>
        <div class="c-iconlist-text">
          <div class="c-iconlist-text__inner pl-2.5">
            <p class="c-iconlist-header text-left text-primary-gold text-18">{{ quickLink.title }}</p>
            <p class="c-iconlist-link text-left text-secondary-white"> {{ quickLink.subtitle }}
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class="arrow-icon arrow-icon-gold inline-block mb-1 ml-1"
                 viewBox="0 0 11.3 11.1" style="enable-background:new 0 0 11.3 11.1;" xml:space="preserve">
              <style type="text/css">
                .st0{clip-path:url(#SVGID_00000054982468494270840730000002984187357216778658_);}
                .st1{fill:#FFC300;}
                .st2{font-family:'Arial-BoldMT';}
                .st3{font-size:25px;}
              </style>
              <g>
                <defs>
                  <rect x="-1.3" y="-9.2" width="16" height="27.8"/>
                </defs>
                <clipPath>
                  <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
                </clipPath>
                <g style="clip-path:url(#SVGID_00000174594742156998729620000012236153330753817521_);">
                  <text transform="matrix(1 0 0 1 -1.2749 12)" class="st1 st2 st3">»</text>
                </g>
              </g>
              </svg>
            </p>
          </div>
        </div>
      </a>
      {% endfor %}

    </div>

  </div>
</section>