<section class="relative hero">
  <!-- DEV NOTE: If background image is not set by user in the CMS, it should use default: `/_resources/images/background.jpg` -->
  <!-- <img alt="" aria-hidden="true" src="{{ data.backgroundImage or '/_resources/images/background.jpg' }}" class="adhere object-cover object-top"> -->

  <div class="c-hero-locations">
    <div class="c-hero-locations__contain">
      <div class="c-hero-locations__contain-copy">
        <h1>{{ data.heading }}</h1>
      </div>
    </div>
  </div>
  <div class="c-hero__breadcrumbs breadcrumbs">
    {% for breadcrumb in data.breadcrumbs %}
      <a href="{{ breadcrumb.link }}">{{ breadcrumb.title }}</a><span></span>
    {% endfor %}
  </div>
  <div class="c-hero-locations__intro-block">
    <div class="c-hero-locations__intro-container">
      <div class="c-hero-locations__intro-body">
        <h2>{{ data.introHead }}</h2>
        {{ data.introDesc | safe }}
      </div>
      {% if data.sidebar %}
        {% for side in data.sidebar %}
        <div class="c-hero-locations__sidebar sidebar">
          <h3>Campus Info</h3>
          <p><span>Address</span><a href="{{ side.addressLink }}">{{ side.address | safe }}</a></p>
          <p><span>General Contact</span><a href="tel:{{ side.phone }}">{{ side.phone }}</a></p>

          <a class="blue bottom-links" href="{{ side.map }}">Campus Map</a>
          <a class="blue bottom-links" href="{{ side.registration }}">Registration Info</a>
        </div>

        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>