<section class="relative hero">
  <!-- DEV NOTE: If background image is not set by user in the CMS, it should use default: `/_resources/images/background.jpg` -->
  <!-- <img alt="" aria-hidden="true" src="{{ data.backgroundImage or '/_resources/images/background.jpg' }}" class="adhere object-cover object-top"> -->

  <div class="c-hero-program">
    <div class="c-hero-program__background" style="background: url('{{ data.background }}') center center; background-repeat: no-repeat; background-size: cover;"></div>
    <div class="c-hero-program__contain">
      <div class="c-hero-program__contain-copy">
        <h1>{{ data.title }}</h1>
        <p>{{ data.subtitle }}</p>
      </div>
    </div>
    <div class="c-hero-program__program-details">
      <div class="c-hero-program__degree-type">
        <p><span>Degree Type</span>
        {{ data.degree }}</p>
      </div><div class="c-hero-program__credit-hours">
        <p><span>Total Credit Hours</span>
        {{ data.creditHours }}</p>
      </div>
    </div>
  </div>
  <div class="c-hero__breadcrumbs breadcrumbs">
    {% for breadcrumb in data.breadcrumbs %}
      <a href="{{ breadcrumb.link }}">{{ breadcrumb.title }}</a><span></span>
    {% endfor %}
  </div>
  {% if data.heading %}
  <div class="c-hero-program__intro-block">
    <div class="c-hero-program__intro-container">
      <div class="c-hero-program__intro-body">
        <h2>{{ data.heading }}</h2>
        <p>{{ data.copy | safe }}</p>

        {% if data.links %}
        <div class="c-hero-program__intro-links">
        {% for link in data.links %}
          <a class="inline-flex items-center mt-4 font-display font-semibold text-16 leading-110 button {{ link.color }}" href="{{ link.link }}">
            {{ link.title }}
            <div class="cta-icon ml-3 lg:ml-3 overflow-hidden flex-shrink-0">
              {% include '../../../assets/images/icon-diagonal-icon.svg' %}
              <div class="cta-icon__front adhere">
                {% include '../../../assets/images/icon-diagonal-icon.svg' %}
              </div>
            </div>
          </a>
        {% endfor %}
        </div>
        {% endif %}
      </div>
      {% if data.sidebarlinks %}
      <div class="c-hero-program__sidebar sidebar">
        <h3>Helpful Links</h3>
        {% for sidebarlink in data.sidebarlinks %}
        <a href="{{ sidebarlink.link }}">{{ sidebarlink.title }}<span></span></a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
</section>