<div class="c-interactive-steps">
  <h2>{{ data.title | safe }}</h2>
  <div class="c-interactive-steps__container">
    <div class="c-interactive-steps__list">
      <ol>
      {% for step in data.steps %}
        <li class="step-{{ step.id }} step-list-item" id="{{ step.id }}">{{ step.title }}
          <span class="c-step-trigger">{% include '../../../assets/images/arrow-interactive-steps.svg' %}</span>

          <div class="c-interactive-step__step-detail-mobile">
            <div class="c-interactive-step__step-contents">
              <p>{{ step.copy | safe }}</p>
              {% for link in step.links %}
              <a href="{{ link.link }}" class="inline-flex items-center mt-4 font-display font-semibold text-16 leading-110 button blue">{{ link.title }}</a><br/>
              {% endfor %}
            </div>
          </div>

        </li>
      {% endfor %}
      </ol>
    </div>
    <div class="c-interactive-step__step-details">
      {% for step in data.steps %}
      <div class="c-interactive-step__step-detail" id="detail-{{ step.id }}">
        <div class="c-interactive-step__step-contents">
          <p>{{ step.copy | safe }}</p>
          {% for link in step.links %}

          <a class="inline-flex items-center mt-4 font-display font-semibold text-16 leading-110 button blue" href="{{ link.link }}">
            {{ link.title }}
            <div class="cta-icon ml-3 lg:ml-3 overflow-hidden flex-shrink-0">
              {% include '../../../assets/images/icon-diagonal-icon.svg' %}
              <div class="cta-icon__front adhere">
                {% include '../../../assets/images/icon-diagonal-icon.svg' %}
              </div>
            </div>
          </a><br/>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
