<div class="c-interactive-list">
  <h2>Our Locations</h2>
  <div class="c-interactive-list__container">
    <div class="c-interactive-list__locations">
      <ul>
      {% for location in data.locations %}
        <li class="location-{{ location.id }} location-list-item" id="{{ location.id }}"><a class="c-location__title">{{ location.title }}</a><a class="c-location__title-mobile" href="{{ location.link }}">{{ location.title }} {% include '../../../assets/images/arrow-diagonal-white.svg' %}</a></li>
      {% endfor %}
      </ul>
      <a class="inline-flex items-center mt-4 font-display font-semibold text-16 leading-110 button blue" href="#">
        View All
        <div class="cta-icon ml-3 lg:ml-3 overflow-hidden flex-shrink-0">
          {% include '../../../assets/images/icon-diagonal-icon.svg' %}
          <div class="cta-icon__front adhere">
            {% include '../../../assets/images/icon-diagonal-icon.svg' %}
          </div>
        </div>
      </a>
    </div>
    <div class="c-interactive-list__location-details">
      {% for location in data.locations %}
      <div class="c-interactive-list__location-detail"  id="detail-{{ location.id }}">

        <img src="{{ location.image }}" alt="{{ location.alt }}" >

        <div class="c-interactive-list__location-sublocations">
          {% for sublocation in location.sublocations %}
          <div class="c-interactive-list__location-sublocation">
            <div class="c-interactive-list__location-sublocation-title">
              <h3>{{ sublocation.title }}</h3><a href="{{ sublocation.link }}" class="inline-flex items-center mt-4 font-display font-semibold text-16 leading-110 button blue">Learn More</a>
            </div>
            <div class="c-interactive-list__location-sublocation-details">
              <div>
                <a href="{{ sublocation.google }}">{{ sublocation.address | safe }}</a>
              </div><div>
                <p>Information</p>
                <a href="tel:{{ sublocation.tel }}">{{ sublocation.tel }}</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
</div>
