<section class="c-news-heading  c-wysiwyg">
  <div class="c-news-heading-wrapper">
    <a href="news-listing.html">&laquo; F&amp;M Stories Listing</a>

    <h2>{{ data.title }}</h2>
    <p class="c-news-heading--article-meta">
      {{ data.date }}<br/>
      by {{ data.author }}
    </p>

    <div class="c-news-heading--social-links">
      <a href="#">Facebook{% include '../../../assets/images/images/icon-facebook.svg' %}</a><a href="#">LinkedIn{% include '../../../assets/images/images/icon-linked.svg' %}</a><a href="#">Twitter{% include '../../../assets/images/images/icon-twitter.svg' %}</a><a href="#">Mail{% include '../../../assets/images/images/icon-mail.svg' %}</a>
    </div>

    <div class="c-news-heading--image">
      <img src="{{ data.image }}" alt="{{ data.alt }}">
    </div>
    <div class="c-news-heading--image-caption"><p>{{ data.caption }}</p></div>

  </div>
</section>