<section class="c-page-not-found">

  <section class="c-page-not-found__contain">

    <h1>404 Error</h1>
    <h2>Oops! We can't find the page you're looking for.</h2>

    <a href="#" class="c-page-not-found__a">Visit the Collin College Homepage {% include '../../../assets/images/arrow-blue-large.svg' %}</a>

    <label for="site-search" class="c-page-not-found__search-label">Or search using the field below</label>
    <div class="c-page-not-found__search">
      <input type="search" id="site-search" class="c-page-not-found__search-input" name="q" placeholder="Enter your search terms here">
      {% include '../../../assets/images/header-search-panel-icon.svg' %}
    </div>


  </section>

</section>