<div class="relative py-2/24 md:py-1/24 bg-blue">
  <!-- DEV NOTE: background image should fallback to default image if user does not input one -->
  <img src="/_resources/images/background.jpg" alt="" aria-hidden="true" class="absolute top-0 left-0 w-full md:w-6/22 h-48 md:h-full object-cover pointer-events-none"/>
  <div class="container relative">
    <div class="md:flex justify-center">
      <div class="relative md:w-1/2 2xl:w-9/22 h-96 md:h-auto md:min-h-500 md:mr-1/22">
        <img src="{{ data.headshot }}" alt="Alt text" class="adhere object-cover" />
      </div>
      <div class="md:w-10/22 2xl:w-9/22">
        <img src="/_resources/images/quote.svg" alt="" aria-hidden="true" class="relative w-24 lg:w-28 -mt-7 md:mt-6 mb-6 md:mb-3 md:-ml-16 lg:-ml-20 xl:-ml-24" />
        <figure class="text-white">
          <blockquote class="mb-6">
            <p class="title-md">{{ data.quote }}</p>
          </blockquote>
          <figcaption>
            <span class="block font-semibold uppercase tracking-wider mb-1">{{ data.author }}</span>
            <span class="block font-light tracking-slight">{{ data.class }}</span>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
