<div class="c-fifty-fifty-block fifty-fifty-block-{{ data.blockbg }}">

  <h2>{{ data.title }}</h2>

  <div class="c-fifty-fifty-container">

    <div class="c-fifty-fifty-copy {{ data.imageAlign }} fifty-fifty-copy-{{ data.copybg }}">
      <div class="c-fifty-fifty-copy__contents">
        <h3>{{ data.heading }}</h3>
        <p>{{ data.copy }}</p>

        <a class="inline-flex items-center mt-4 font-display font-semibold text-16 leading-110 button blue" href="{{ data.link }}">
          {{ data.linktitle }}
          <div class="cta-icon ml-3 lg:ml-3 overflow-hidden flex-shrink-0">
            {% include '../../../assets/images/icon-diagonal-icon.svg' %}
            <div class="cta-icon__front adhere">
              {% include '../../../assets/images/icon-diagonal-icon.svg' %}
            </div>
          </div>
        </a>
      </div><div class="c-fifty-fifty-image {{ data.imageAlign }}" style="background: url('{{ data.image }}') center center; background-size: cover; background-repeat: no-repeat;">

      </div>

    </div>

  </div>
</div>
