<div class="c-three-up">

  <div class="c-three-up__contain">

    {% for cta in data.ctas %}

    <div class="c-three-up__entry">

      <div class="c-three-up__entry-icon">

        <img alt="{{ cta.icon }}" src="_resources/images/icon-{{ cta.icon }}.png">

      </div>

      <h2>{{ cta.title }}</h2>
      {{ cta.copy }}

    </div>

    {% endfor %}

  </div>

  <div class="c-three-up__cta-contain">
    <a class="inline-flex items-center mt-4 font-display font-semibold text-16 leading-110 button blue" href="{{ data.link }}">
      {{ data.linkTitle }}
      <div class="cta-icon ml-3 lg:ml-3 overflow-hidden flex-shrink-0">
        {% include '../../../assets/images/icon-diagonal-icon.svg' %}
        <div class="cta-icon__front adhere">
          {% include '../../../assets/images/icon-diagonal-icon.svg' %}
        </div>
      </div>
    </a>
  </div>

</div>