<div class="c-wysiwyg {% if data.background %} bg-{{ data.background }} {% endif %}">
  <div class="c-wysiwyg__contain">
  {% if data.title %}
  <div class="c-wysiwyg-title">
    <h2>{{ data.title }}</h2>
  </div>
  {% endif %}
  {% for contentItem in data.contentItems %}
    {% if contentItem.type === 'body-copy' %}
      {% for copy in contentItem.copy %}
        <p>{{ copy.paragraph | safe }}</p>
      {% endfor %}
    {% elif contentItem.type === 'full-width-image' %}
      <img src="{{ contentItem.image }}" alt="{{ contentItem.alt }}">
    {% endif %}
  {% endfor %}
  </div>
</div>