html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @apply font-sans;
}


@font-face {
  font-family: "ABCArizonaMix";
  src: url(/_resources/images/fonts/ABCArizonaMix-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "LibreFranklin";
  src: url(/_resources/images/fonts/LibreFranklin-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "LibreFranklin";
  src: url(/_resources/images/fonts/LibreFranklin-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "LibreFranklin";
  src: url(/_resources/images/fonts/LibreFranklin-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "LibreFranklin";
  src: url(/_resources/images/fonts/LibreFranklin-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "LibreFranklin";
  src: url(/_resources/images/fonts/LibreFranklin-Bold.ttf);
  font-weight: 700;
}


